{# 
Here is a file location of product component

## product specific component
- catalog/view/theme/mz_poco/template/product/product/*

## common component across the page including product page
- catalog/view/theme/mz_poco/template/product/common/*

#}
{% for style in styles %}
<link href="{{ style }}" type="text/css" rel="stylesheet" />
{% endfor %}
<div id="product-quick-view">{{ mz_content }}</div>
<input type="hidden" name="product_id" value="{{ product_id }}" />
{% for script in scripts %}
<script src="{{ script }}" ></script>
{% endfor %}
<script>
$(function(){
	var page_component = $("{{ page_component|escape('js') }}");
	$('header.header').before(page_component);
	$('#quick-view').on('hidden.bs.modal', function(){
		page_component.remove();
	});
});
</script>
<script><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\']:visible, select[name=\'recurring_id\']:visible'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script><!--
$('.button-cart, .button-buynow').on('click', function() {
	var button = $(this);

	var data = $('.content-options:visible, .content-quantity:visible, .content-recurring:visible').find('input[type=\'text\'], input[type=\'number\'], input[type=\'hidden\'], input[type=\'radio\']:checked, input[type=\'checkbox\']:checked, select, textarea');
        
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: data.add('input[name=\'product_id\']'),
		dataType: 'json',
		beforeSend: function() {
			button.prepend('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>');
		},
		complete: function() {
			button.children('.spinner-grow').remove();
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('[id^="input-option' + i.replace('_', '-') + '"]');

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
			}

			if (json['success']) {
				if(button.data('redirecttocart')){
					location = 'index.php?route=checkout/checkout'
				} else {
					$('#quick-view').modal('hide');
					
					var toast =  $(json['toast']);
						
					$('#notification-box-top').append(toast);
					toast.toast('show')

					// Dispose toast
					toast.on('hidden.bs.toast', function(){ toast.remove() });

					$('.widget-cart').mz_reload('cart');
					$('.widget-total').mz_reload('total');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script> 
{% if mz_config.get('catalog_option_update_price') %}
<script><!--
$('.content-options').find('input[type=\'radio\'], input[type=\'checkbox\'], select').on('change', function() {
	$.ajax({
		url: 'index.php?route=extension/maza/product/product/priceWithOptions&product_id={{ product_id }}',
		type: 'post',
		data: $('.content-options:visible').find('input[type=\'radio\']:checked, input[type=\'checkbox\']:checked, select'),
		dataType: 'json',
		beforeSend: function(){
			$('.button-buynow').prop('disabled', 1);
			$('.button-cart').prop('disabled', 1).prepend('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>');
		},
		complete: function(){
			$('.button-buynow').prop('disabled', 0);
			$('.button-cart').prop('disabled', 0).children('.spinner-grow').remove();
		},
		success: function(json) {
					if (json['price']) {
						$('[data-update="price"]').text(json['price']);
					}
					if (json['special']) {
						$('[data-update="special"]').text(json['special']);
					}
					if (json['tax']) {
						$('[data-update="tax"]').text(json['tax']);
					}
					if (json['points']) {
						$('[data-update="points"]').text(json['points']);
					}
					if (json['special_discount']) {
						$('[data-update="special-discount"]').text(json['special_discount']);
					}
					if (json['discounts']) {
						for(var i in json['discounts']){
							$('[data-update="discounts"] li').eq(i).text(json['discounts'][i]['quantity'] + '{{ text_discount }}' + json['discounts'][i]['price']);
						}
					}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script> 
{% endif %}
<script>
$(function(){
	$('.content-options .datetime').daterangepicker({
		singleDatePicker: true,
		autoApply: true,
		timePicker: true,
		timePicker24Hour: true,
		locale: {
		format: 'YYYY-MM-DD HH:mm'
		}
	});

	$('.content-options .time').daterangepicker({
		singleDatePicker: true,
		datePicker: false,
		autoApply: true,
		timePicker: true,
		timePicker24Hour: true,
		locale: {
		format: 'HH:mm'
		}
	}).on('show.daterangepicker', function (ev, picker) {
		picker.container.find('.calendar-table').hide();
	});

	$('.content-options .date').daterangepicker({
		singleDatePicker: true,
		autoApply: true,
		locale: {
		format: 'YYYY-MM-DD'
		}
	});
});
</script>
<script><!--
$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
