{{ header }}{{ column_left }} 
{{ mz_column_left }}
{{ mz_header }}
<div id="content" class="mz-content">
  
  <!-- Alert message -->
  {% if (success is defined) %} 
    <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ success }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  {% if (warning is defined) %} 
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ warning }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  
  <div class="panel mz-panel-default">
    <div class="panel-body">
      <form action="{{ reset }}" method="post" enctype="multipart/form-data" id="form-mz-report">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left">{% if sort == 'ad.name' %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                  <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}</td>
                <td class="text-right">{% if sort == 'a.viewed' %}
                  <a href="{{ sort_viewed }}" class="{{ order|lower }}">{{ column_viewed }}</a>
                  {% else %}
                  <a href="{{ sort_viewed }}">{{ column_viewed }}</a>
                  {% endif %}</td>
              </tr>
            </thead>
            <tbody>
              {% if articles %}
              {% for article in articles %}
              <tr>
                <td class="text-left">{{ article.name }}</td>
                <td class="text-right">{{ article.viewed }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="2">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
  </div>
</div>
{{ mz_footer }}