<form id="edit-widget-form" class="form-horizontal row">
  <div class="tab-content">
    <!--setting-->
    <div id="tab-widget-edit-setting" class="tab-pane">
      <div class="col-xs-12">
        <!--Customer-->
        <div class="form-group">
          <label class="col-xs-3 control-label">{{ entry_customer }}</label>
          <div class="col-xs-9">
            <div class="mz-switch-field">
              {% for type in status_customers %} 
                {% if (widget_status_customer == type['code']) %} 
                <input type="radio" name="widget_status_customer" value="{{ type['code'] }}" id="input-edit-widget-status-customer-{{ type['code'] }}" checked>
                <label for="input-edit-widget-status-customer-{{ type['code'] }}" >{{ type['name'] }}</label>
                {% else %} 
                <input type="radio" name="widget_status_customer" value="{{ type['code'] }}" id="input-edit-widget-status-customer-{{ type['code'] }}">
                <label for="input-edit-widget-status-customer-{{ type['code'] }}" >{{ type['name'] }}</label>
                {% endif %} 
              {% endfor %} 
            </div>
          </div>
        </div>
        <!--Customer group-->
        <div class="form-group">
          <label class="col-xs-3 control-label" for="input-edit-widget-status-customer-group">{{ entry_customer_group }}</label>
          <div class="col-xs-9">
            <select name="widget_status_customer_group" id="input-edit-widget-status-customer-group" class="form-control">
              <option value="0">{{ text_all }}</option>
              {% for customer_group in status_customer_groups %} 
                {% if (widget_status_customer_group == customer_group['customer_group_id']) %} 
                <option value="{{ customer_group['customer_group_id'] }}" selected="selected">{{ customer_group['name'] }}</option>
                {% else %} 
                <option value="{{ customer_group['customer_group_id'] }}">{{ customer_group['name'] }}</option>
                {% endif %} 
              {% endfor %} 
            </select>
          </div>
        </div>
        <!-- status date timespan-->
        <div class="form-group">
          <label class="col-xs-3 control-label"><span data-toggle="tooltip" title="{{ help_timespan }}">{{ entry_timespan }}</span></label>
          <div class="col-xs-9">
            <div class="row">
              <div class="col-xs-6">
                <div class="input-group datetime">
                  <span class="input-group-addon">{{ text_from }}</span>
                  <input type="text" name="widget_status_date_start" value="{{ widget_status_date_start }}" placeholder="{{ text_date_start }}" data-date-format="YYYY-MM-DD HH:mm" id="input-edit-widget-status-date-start" class="form-control" />
                  <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="input-group datetime">
                  <span class="input-group-addon">{{ text_to }}</span>
                  <input type="text" name="widget_status_date_end" value="{{ widget_status_date_end }}" placeholder="{{ text_date_end }}" data-date-format="YYYY-MM-DD HH:mm" id="input-edit-widget-status-date-end" class="form-control" />
                  <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Cache-->
        <div class="form-group">
          <label class="col-xs-3 control-label">{{ entry_cache }}</label>
          <div class="col-xs-9">
            <div class="mz-switch-field">
              {% for type in caches %} 
                {% if (widget_cache == type['code']) %} 
                <input type="radio" name="widget_cache" value="{{ type['code'] }}" id="input-edit-widget-cache-{{ type['code'] }}" checked>
                <label for="input-edit-widget-cache-{{ type['code'] }}" >{{ type['name'] }}</label>
                {% else %} 
                <input type="radio" name="widget_cache" value="{{ type['code'] }}" id="input-edit-widget-cache-{{ type['code'] }}">
                <label for="input-edit-widget-cache-{{ type['code'] }}" >{{ type['name'] }}</label>
                {% endif %} 
              {% endfor %} 
            </div>
          </div>
        </div>
        <!--widget custom-->
        <div class="form-group">
          <label class="col-xs-3 control-label" for="input-widget-custom-class">{{ entry_custom_class }}</label>
          <div class="col-xs-9">
            <input type="text" id="input-widget-custom-class" name="widget_custom_class" value="{{ widget_custom_class }}" placeholder="{{ entry_custom_class }}" class="form-control" />
          </div>
        </div>
        <!--widget condition-->
        <div class="form-group">
          <label class="col-xs-3 control-label" for="input-widget-condition"><span data-toggle="tooltip" title="{{ help_condition }}">{{ entry_condition }}</span></label>
          <div class="col-xs-9">
            <input type="text" id="input-widget-condition" name="widget_condition" value="{{ widget_condition }}" placeholder="{{ entry_condition }}" class="form-control" />
          </div>
        </div>
      </div>
    </div>
    
    <!--style-->
    <div id="tab-widget-edit-style" class="tab-pane active">
      <div class="tab-content">
        {% for screen_size in screen_sizes %}
        {% set screen_data = attribute(_context, screen_size) %}
        <div id="tab-widget-edit-screen-{{ screen_size }}" class="tab-pane{{ screen_size == 'xl'?' active':'' }}">
          <div class="col-xs-9">
            <div class="tab-content">
              <!--Layout-->
              <div id="tab-widget-layout-{{ screen_size }}" class="tab-pane active">

                <!--Widget margin-->
                <div class="form-group">
                  <label class="col-xs-2 control-label" for="input-edit-widget-margin-{{ screen_size }}">{{ text_margin }}</label>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <span class="input-group-addon">{{ text_top }}</span>
                      <input type="number" name="{{ screen_size }}[widget_margin_top]" value="{{ screen_data['widget_margin_top'] }}" id="input-edit-widget-margin-top-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_right }}</span>
                      <input type="number" name="{{ screen_size }}[widget_margin_right]" value="{{ screen_data['widget_margin_right'] }}" id="input-edit-widget-margin-right-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_bottom }}</span>
                      <input type="number" name="{{ screen_size }}[widget_margin_bottom]" value="{{ screen_data['widget_margin_bottom'] }}" id="input-edit-widget-margin-bottom-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_left }}</span>
                      <input type="number" name="{{ screen_size }}[widget_margin_left]" value="{{ screen_data['widget_margin_left'] }}" id="input-edit-widget-margin-left-{{ screen_size }}" placeholder="0px" class="form-control" />
                    </div>
                  </div>
                </div>

                <!--Widget padding-->
                <div class="form-group">
                  <label class="col-xs-2 control-label" for="input-edit-widget-padding-{{ screen_size }}">{{ text_padding }}</label>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <span class="input-group-addon">{{ text_top }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_padding_top]" value="{{ screen_data['widget_padding_top'] }}" id="input-edit-widget-padding-top-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_right }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_padding_right]" value="{{ screen_data['widget_padding_right'] }}" id="input-edit-widget-padding-right-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_bottom }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_padding_bottom]" value="{{ screen_data['widget_padding_bottom'] }}" id="input-edit-widget-padding-bottom-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_left }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_padding_left]" value="{{ screen_data['widget_padding_left'] }}" id="input-edit-widget-padding-left-{{ screen_size }}" placeholder="0px" class="form-control" />
                    </div>
                  </div>
                </div>
                
                <!--Widget border-->
                <div class="form-group">
                  <label class="col-xs-2 control-label" for="input-edit-widget-border-{{ screen_size }}">{{ text_border }}</label>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <span class="input-group-addon">{{ text_top }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_border_top]" value="{{ screen_data['widget_border_top'] }}" id="input-edit-widget-border-top-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_right }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_border_right]" value="{{ screen_data['widget_border_right'] }}" id="input-edit-widget-border-right-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_bottom }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_border_bottom]" value="{{ screen_data['widget_border_bottom'] }}" id="input-edit-widget-border-bottom-{{ screen_size }}" placeholder="0px" class="form-control" />
                      <span class="input-group-addon">{{ text_left }}</span>
                      <input type="number" min="0" name="{{ screen_size }}[widget_border_left]" value="{{ screen_data['widget_border_left'] }}" id="input-edit-widget-border-left-{{ screen_size }}" placeholder="0px" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              
              <!--widget flexitem-->
              <div id="tab-widget-flexitem-{{ screen_size }}" class="tab-pane">
                <!--Flex grow-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-flex-grow-{{ screen_size }}">{{ entry_flex_grow }}</label>
                  <div class="col-xs-7">
                    <div class="mz-switch-field">
                      {% if (screen_data['widget_flex_grow']) %} 
                      <input type="radio" name="{{ screen_size }}[widget_flex_grow]" value="1" id="input-edit-widget-flex-grow-yes-{{ screen_size }}" checked>
                      <label for="input-edit-widget-flex-grow-yes-{{ screen_size }}" >{{ text_yes }}</label>
                      <input type="radio" name="{{ screen_size }}[widget_flex_grow]" value="0" id="input-edit-widget-flex-grow-no-{{ screen_size }}">
                      <label for="input-edit-widget-flex-grow-no-{{ screen_size }}" >{{ text_no }}</label>
                       {% else %} 
                      <input type="radio" name="{{ screen_size }}[widget_flex_grow]" value="1" id="input-edit-widget-flex-grow-yes-{{ screen_size }}">
                      <label for="input-edit-widget-flex-grow-yes-{{ screen_size }}" >{{ text_yes }}</label>
                      <input type="radio" name="{{ screen_size }}[widget_flex_grow]" value="0" id="input-edit-widget-flex-grow-no-{{ screen_size }}" checked>
                      <label for="input-edit-widget-flex-grow-no-{{ screen_size }}" >{{ text_no }}</label>
                      {% endif %} 
                    </div>
                  </div>
                </div>
                
                <!--Flex shrink-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-flex-shrink-{{ screen_size }}">{{ entry_flex_shrink }}</label>
                  <div class="col-xs-7">
                    <div class="mz-switch-field">
                      {% if (screen_data['widget_flex_shrink']) %} 
                      <input type="radio" name="{{ screen_size }}[widget_flex_shrink]" value="1" id="input-edit-widget-flex-shrink-yes-{{ screen_size }}" checked>
                      <label for="input-edit-widget-flex-shrink-yes-{{ screen_size }}" >{{ text_yes }}</label>
                      <input type="radio" name="{{ screen_size }}[widget_flex_shrink]" value="0" id="input-edit-widget-flex-shrink-no-{{ screen_size }}">
                      <label for="input-edit-widget-flex-shrink-no-{{ screen_size }}" >{{ text_no }}</label>
                       {% else %} 
                      <input type="radio" name="{{ screen_size }}[widget_flex_shrink]" value="1" id="input-edit-widget-flex-shrink-yes-{{ screen_size }}">
                      <label for="input-edit-widget-flex-shrink-yes-{{ screen_size }}" >{{ text_yes }}</label>
                      <input type="radio" name="{{ screen_size }}[widget_flex_shrink]" value="0" id="input-edit-widget-flex-shrink-no-{{ screen_size }}" checked>
                      <label for="input-edit-widget-flex-shrink-no-{{ screen_size }}" >{{ text_no }}</label>
                      {% endif %} 
                    </div>
                  </div>
                </div>
                
                <!--widget align self-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-align-self-{{ screen_size }}">{{ entry_align_self }}</label>
                  <div class="col-xs-9">
                    <div class="mz-switch-field">
                      {% for self in list_align_self %} 
                        {% if (screen_data['widget_align_self'] == self['code']) %} 
                        <input type="radio" name="{{ screen_size }}[widget_align_self]" value="{{ self['code'] }}" id="input-edit-widget-align-self-{{ self['code'] }}-{{ screen_size }}" checked>
                        <label for="input-edit-widget-align-self-{{ self['code'] }}-{{ screen_size }}" >{{ self['name'] }}</label>
                        {% else %} 
                        <input type="radio" name="{{ screen_size }}[widget_align_self]" value="{{ self['code'] }}" id="input-edit-widget-align-self-{{ self['code'] }}-{{ screen_size }}">
                        <label for="input-edit-widget-align-self-{{ self['code'] }}-{{ screen_size }}" >{{ self['name'] }}</label>
                        {% endif %} 
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!--widget text-->
              <div id="tab-widget-text-{{ screen_size }}" class="tab-pane">

                <!--widget text color-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-text-color-{{ screen_size }}">{{ text_text_color }}</label>
                  <div class="col-xs-7">
                    <div class="mz-colorpicker">
                      <input class="form-control" id="input-edit-widget-text-color-{{ screen_size }}" type="text" name="{{ screen_size }}[widget_text_color]" value="{{ screen_data['widget_text_color'] }}" placeholder="{{ help_hexadecimal_color }}" /> 
                      <span class="mz-colorpicker-badge"></span>
                    </div>
                  </div>
                </div>

                <!--widget text size-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-text-size-{{ screen_size }}"><span data-toggle="tooltip" title="{{ help_text_size }}">{{ text_text_size }}</span></label>
                  <div class="col-xs-7">
                    <input class="form-control large" id="input-edit-widget-text-size-{{ screen_size }}" type="number" min="0" step="0.00001" name="{{ screen_size }}[widget_text_size]" value="{{ screen_data['widget_text_size'] }}" placeholder="1" /> 
                  </div>
                </div>

              </div>

              <!--widget Color-->
              <div id="tab-widget-color-{{ screen_size }}" class="tab-pane">

                <!--widget background color-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-background-color-{{ screen_size }}">{{ text_background_color }}</label>
                  <div class="col-xs-7">
                    <div class="mz-colorpicker">
                      <input class="form-control" id="input-edit-widget-background-color-{{ screen_size }}" type="text" name="{{ screen_size }}[widget_background_color]" value="{{ screen_data['widget_background_color'] }}" placeholder="{{ help_hexadecimal_color }}" /> 
                      <span class="mz-colorpicker-badge"></span>
                    </div>
                  </div>
                </div>
                
                <!--widget border color-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" for="input-edit-widget-border-color-{{ screen_size }}">{{ text_border_color }}</label>
                  <div class="col-xs-7">
                    <div class="mz-colorpicker">
                      <input class="form-control" id="input-edit-widget-border-color-{{ screen_size }}" type="text" name="{{ screen_size }}[widget_border_color]" value="{{ screen_data['widget_border_color'] }}" placeholder="{{ help_hexadecimal_color }}" /> 
                      <span class="mz-colorpicker-badge"></span>
                    </div>
                  </div>
                </div>
              </div>

              <!--widget background-->
              <div id="tab-widget-background-{{ screen_size }}" class="tab-pane">
                <div class="row">
                  <div class="col-xs-2">
                    <ul class="list-group">
                      {% for layer_code,background_image_info in screen_data['widget_background_image'] %} 
                        {% if (layer_code == 'layer_1') %} 
                        <a class="list-group-item active" href="#tab-widget-background-{{ layer_code }}-{{ screen_size }}" data-toggle="tab">{{ attribute(_context, 'text_' ~ layer_code) }}</a>
                        {% else %} 
                        <a class="list-group-item" href="#tab-widget-background-{{ layer_code }}-{{ screen_size }}" data-toggle="tab">{{ attribute(_context, 'text_' ~ layer_code) }}</a>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-xs-10 tab-content">
                    {% set round = 0 %}
                    {% for layer_code,background_image_info in screen_data['widget_background_image'] %} 
                      <div id="tab-widget-background-{{ layer_code }}-{{ screen_size }}" class="tab-pane fade {{ round == 0?'in active':constant('null') }}">

                        <!--Background status-->
                        <div class="form-group">
                          <label class="col-xs-4 control-label">{{ entry_status }}</label>
                          <div class="col-xs-8">
                            <div class="mz-switch-field">
                              {% for status in background_status %} 
                                {% if (status['code'] == background_image_info['status']) %} 
                                <input type="radio" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][status]" value="{{ status['code'] }}" id="input-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}" checked="">
                                <label class="mz-tab-toggle active" data-target="#tab-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}" for="input-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}" >{{ status['name'] }}</label>
                                {% else %} 
                                <input type="radio" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][status]" value="{{ status['code'] }}" id="input-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}">
                                <label class="mz-tab-toggle" data-target="#tab-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}" for="input-widget-background-image-status-{{ screen_size }}-{{ layer_code ~ '-' ~ status['code'] }}" >{{ status['name'] }}</label>
                                {% endif %} 
                              {% endfor %} 
                            </div>
                          </div>
                        </div>

                        <div class="tab-content">
                          <div id='tab-widget-background-image-status-{{ screen_size }}-{{ layer_code }}-none' class="tab-pane {{ background_image_info['status'] == 'none'?'active':constant('null') }}"></div>
                          <div id='tab-widget-background-image-status-{{ screen_size }}-{{ layer_code }}-image' class="tab-pane {{ background_image_info['status'] == 'image'?'active':constant('null') }}">
                            <!--Background image-->
                            <div class="form-group">
                              <label class="col-xs-4 control-label" for="input-widget-background-image-image-{{ layer_code }}-{{ screen_size }}">{{ entry_background_image }}</label>
                              <div class="col-xs-8">
                                <div class="el-group">
                                {% for language in languages %}
                                  <span class="el-item-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                                  <div class="el-item">
                                    <a href="" id="thumb-widget-background-image-image-{{ layer_code }}-{{ screen_size }}-{{ language.language_id }}" data-toggle="image" class="img-thumbnail"><img src="{{ background_image_info['thumb'][language.language_id] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][image][{{ language.language_id }}]" value="{{ background_image_info['image'][language.language_id] }}" id="input-widget-background-image-image-{{ layer_code }}-{{ screen_size }}-{{ language.language_id }}" />
                                  </div>
                                {% endfor %}
                                </div>
                              </div>
                            </div>

                            <!--Image position-->
                            <div class="form-group">
                              <label class="col-xs-4 control-label" for="input-widget-background-image-image-position-{{ layer_code }}-{{ screen_size }}">{{ entry_image_position }}</label>
                              <div class="col-xs-8">
                                <select class="form-control large" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][image_position]" id="input-widget-background-image-image-position-{{ layer_code }}-{{ screen_size }}">
                                  {% for position in background_image_positions %} 
                                    {% if (position['code'] == background_image_info['image_position']) %} 
                                    <option value="{{ position['code'] }}" selected="">{{ position['name'] }}</option>
                                    {% else %} 
                                    <option value="{{ position['code'] }}">{{ position['name'] }}</option>
                                    {% endif %} 
                                  {% endfor %} 
                                </select>
                              </div>
                            </div>

                            <!--Image repeat-->
                            <div class="form-group">
                              <label class="col-xs-4 control-label" for="input-widget-background-image-image-repeat-{{ layer_code }}-{{ screen_size }}">{{ entry_image_repeat }}</label>
                              <div class="col-xs-8">
                                <select class="form-control large" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][image_repeat]" id="input-widget-background-image-image-repeat-{{ layer_code }}-{{ screen_size }}">
                                  {% for repeat in background_image_repeats %} 
                                    {% if (repeat['code'] == background_image_info['image_repeat']) %} 
                                    <option value="{{ repeat['code'] }}" selected="">{{ repeat['name'] }}</option>
                                    {% else %} 
                                    <option value="{{ repeat['code'] }}">{{ repeat['name'] }}</option>
                                    {% endif %} 
                                  {% endfor %} 
                                </select>
                              </div>
                            </div>

                            <!--Image attachment-->
                            <div class="form-group">
                              <label class="col-xs-4 control-label" for="input-widget-background-image-image-attachment-{{ layer_code }}-{{ screen_size }}">{{ entry_image_attachment }}</label>
                              <div class="col-xs-8">
                                <select class="form-control large" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][image_attachment]" id="input-widget-background-image-image-attachment-{{ layer_code }}-{{ screen_size }}">
                                  {% for attachment in background_image_attachments %} 
                                    {% if (attachment['code'] == background_image_info['image_attachment']) %} 
                                    <option value="{{ attachment['code'] }}" selected="">{{ attachment['name'] }}</option>
                                    {% else %} 
                                    <option value="{{ attachment['code'] }}">{{ attachment['name'] }}</option>
                                    {% endif %} 
                                  {% endfor %} 
                                </select>
                              </div>
                            </div>
                            
                            <!--Image size-->
                            <div class="form-group">
                              <label class="col-xs-4 control-label" for="input-widget-background-image-image-size-{{ layer_code }}-{{ screen_size }}">{{ entry_image_size }}</label>
                              <div class="col-xs-8">
                                <select class="form-control large" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][image_size]" id="input-widget-background-image-image-size-{{ layer_code }}-{{ screen_size }}">
                                  {% for size in background_image_sizes %} 
                                    {% if (size['code'] == background_image_info['image_size']) %} 
                                    <option value="{{ size['code'] }}" selected="">{{ size['name'] }}</option>
                                    {% else %} 
                                    <option value="{{ size['code'] }}">{{ size['name'] }}</option>
                                    {% endif %} 
                                  {% endfor %} 
                                </select>
                              </div>
                            </div>
                          </div>
                          <div id='tab-widget-background-image-status-{{ screen_size }}-{{ layer_code }}-pattern' class="tab-pane {{ background_image_info['status'] == 'pattern'?'active':constant('null') }}">
                            <!--overlay pattern-->
                            <div class="form-group">
                              <label class="col-xs-3 control-label" for="input-widget-background-image-overlay-pattern-{{ layer_code }}-{{ screen_size }}">{{ entry_overlay_pattern }}</label>
                              <div class="col-xs-9">
                                <div class="mz-overlay-pattern">
                                  <div class="col-xs-4">
                                    <ul class="nav nav-tabs mz-nav-vertical-tube-tab">
                                      {% for pattern in overlay_patterns %} 
                                        {% if (pattern['code'] == background_image_info['overlay_pattern']) %} 
                                        <li class="active"><label href="#tab-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" for="input-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" data-toggle="input-tab"><input id="input-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" type="radio" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][overlay_pattern]" value="{{ pattern['code'] }}" class="hide" checked="" /><img src="{{ pattern['image'] }}" /> {{ pattern['name'] }}</label></li>
                                        {% else %} 
                                        <li><label href="#tab-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" for="input-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" data-toggle="input-tab"><input id="input-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" type="radio" name="{{ screen_size }}[widget_background_image][{{ layer_code }}][overlay_pattern]" value="{{ pattern['code'] }}" class="hide" /><img src="{{ pattern['image'] }}" /> {{ pattern['name'] }}</label></li>
                                        {% endif %} 
                                      {% endfor %} 
                                    </ul>
                                  </div>
                                  <div class="col-xs-8">
                                    <div class="tab-content">
                                      {% for pattern in overlay_patterns %} 
                                        {% if (pattern['code'] == background_image_info['overlay_pattern']) %} 
                                        <div id="tab-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" style="background-image: url({{ pattern['image'] }})" class="tab-pane fade in active"></div>
                                        {% else %} 
                                        <div id="tab-widget-background-pattern-{{ pattern['code'] }}-{{ layer_code }}-{{ screen_size }}" style="background-image: url({{ pattern['image'] }})" class="tab-pane fade"></div>
                                        {% endif %} 
                                      {% endfor %} 
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% set round = round + 1 %} 
                    {% endfor %} 
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-xs-3">
            <ul class="list-group">
              <a class="list-group-item active" href="#tab-widget-layout-{{ screen_size }}" data-toggle="tab">{{ text_layout }}</a>
              <a class="list-group-item" href="#tab-widget-flexitem-{{ screen_size }}" data-toggle="tab">{{ text_flexitem }}</a>
              <a class="list-group-item" href="#tab-widget-text-{{ screen_size }}" data-toggle="tab">{{ text_text }}</a>
              <a class="list-group-item" href="#tab-widget-color-{{ screen_size }}" data-toggle="tab">{{ text_color }}</a>
              <a class="list-group-item" href="#tab-widget-background-{{ screen_size }}" data-toggle="tab">{{ text_background }}</a>
            </ul> 
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
</form>