<div class="accordion-item">
  <h5 class="accordion-header border-bottom-0" id="collapse-reward-heading"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-reward" aria-expanded="true" aria-controls="collapse-reward">{{ heading_title }}</button></h5>
  <div id="collapse-reward" class="accordion-collapse collapse" aria-labelledby="collapse-reward-heading" data-bs-parent="#accordion">
    <div class="accordion-body">
      <div class="row">
        <label class="col-md-2 col-form-label" for="input-reward">{{ entry_reward }}</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" class="form-control"/>
            <input type="button" value="{{ button_reward }}" id="button-reward" data-loading-text="{{ text_loading }}" class="btn btn-primary"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script><!--
  $('#button-reward').on('click', function() {
	  $.ajax({
		  url: 'index.php?route=extension/total/reward/reward',
		  type: 'post',
		  data: 'reward=' + encodeURIComponent($('input[name=\'reward\']').val()),
		  dataType: 'json',
		  beforeSend: function() {
			  $('#button-reward').val('{{ text_loading }}');
		  },
		  complete: function() {
			  $('#button-reward').val('{{ button_reward }}');
		  },
		  success: function(json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#collapse-reward .accordion-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>');
				}

				if (json['redirect'] && !$('#maza-checkout').length) {
					location = json['redirect'];
				}
				if($('#maza-checkout').length){
					$.getJSON("index.php?route=extension/maza/checkout/total/update", function(json) {
						if (json['redirect']) location = json['redirect'];
						$("#checkout-total").replaceWith(json.total);
						$("#payment-method").replaceWith(json.payment_method);
					});
				}
		  },
		  error: function(xhr, ajaxOptions, thrownError) {
			  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		  }
	  });
  });
  //-->
  </script>
</div>