<!-- Form -->
<form id="setting-content-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  <!--content status-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-status">{{ entry_status }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_status) %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" checked>
        <label for="input-setting-content-status-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled">
        <label for="input-setting-content-status-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" >
        <label for="input-setting-content-status-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled" checked>
        <label for="input-setting-content-status-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>

  <!--content label-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-label">{{ entry_label }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_label) %} 
        <input type="radio" name="content_label" value="1" id="input-setting-content-label-enabled" checked>
        <label for="input-setting-content-label-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_label" value="0" id="input-setting-content-label-disabled">
        <label for="input-setting-content-label-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_label" value="1" id="input-setting-content-label-enabled" >
        <label for="input-setting-content-label-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_label" value="0" id="input-setting-content-label-disabled" checked>
        <label for="input-setting-content-label-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
</form>