{% if heading_title is not empty %}
<h3 class="module-title">{{ heading_title }}</h3>
{% endif %}
{#carousel#}
{% if carousel_status %}
<div id="mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %}" class="swiper" dir="{{ direction }}">
  <div class="swiper-wrapper">
    {% verbatim %}{% for manufacturer in manufacturers %}{% endverbatim %}
    <div class="swiper-slide">
      <a href="{% verbatim %}{{ manufacturer.href }}{% endverbatim %}">
        <figure class="figure m-0 img-{{ image_position }}">
          {% if show_content != 'text' %}
            {% if lazy_loading %}
            <img class="figure-img img-fluid lazy-load loader-spinner" src="{{ transparent?:'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' }}" width="{{ image_width }}" height="{{ image_height }}" data-src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
            {% else %}
            <img class="figure-img img-fluid" width="{{ image_width }}" height="{{ image_height }}" src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
            {% endif %}
          {% endif %}
          {% if show_content != 'image' %}
          <figcaption  class="figure-caption">{% verbatim %}{{ manufacturer.name }}{% endverbatim %}</figcaption>
          {% endif %}
        </figure>
      </a>
    </div>
    {% verbatim %}{% endfor %}{% endverbatim %}
  </div>
  {% if carousel_pagination %}
  <div class="swiper-pagination"></div>
  {% endif %}
  <div class="swiper-pager custom-pager">
    <div class="swiper-button-next" role="button">
      {% if carousel_nav_icon_font %}
      <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
      {% elseif carousel_nav_icon_svg %}
      <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
      {% elseif carousel_nav_icon_image %}
      <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
      {% endif %} 
    </div>
    <div class="swiper-button-prev" role="button">
      {% if carousel_nav_icon_font %}
      <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
      {% elseif carousel_nav_icon_svg %}
      <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
      {% elseif carousel_nav_icon_image %}
      <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
      {% endif %} 
    </div>
  </div>
</div>
<script>
$(function(){
  var swiper = new Swiper('#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %}',{
    mode: 'horizontal',
    observer: true,
    observeParents: true,
    {% if carousel_pagination %}
    pagination: {
      el: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-pagination',
      clickable: true,
    },
    {% else %}
    pagination: false,
    {% endif %}
    navigation: {
      nextEl: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-button-next',
      prevEl: '#mz-brand{% verbatim %}{{ mz_suffix }}{% endverbatim %} .swiper-button-prev',
    },
    {% if carousel_autoplay > 0 %}
    autoplay: {delay: {{ carousel_autoplay }}},
    {% else %}
    autoplay: false,
    {% endif %}
    loop: {{ carousel_loop?'true':'false' }},
    {% if carousel_row > 1 %}
    grid: {fill: 'row', rows: {{ carousel_row }}},
    loop: false, // Multi row does not support with loop
    {% endif %}
    spaceBetween: {{ gutter_width }},
    slidesPerView: {{ column_xs }},
    breakpoints: {
      {{ breakpoint_sm }}: {
        slidesPerView: {{ column_sm }}
      },
      {{ breakpoint_md }}: {
        slidesPerView: {{ column_md }}
      },
      {{ breakpoint_lg }}: {
        slidesPerView: {{ column_lg }}
      },
      {{ breakpoint_xl }}: {
        slidesPerView: {{ column_xl }}
      },
    },
  });
  {% if lazy_loading %}
  swiper.on('slideNextTransitionEnd', function(swiper){
    $(swiper.slides[swiper.activeIndex]).find('img.lazy-load').each(function(){
      if($(this).data("plugin_lazy")){
        $(this).data("plugin_lazy").update();
      }
    });
  });
  {% endif %}
});
</script>

{#Grid#}
{% else %}
  <div class="row row-cols-xl-{{ column_xl }} row-cols-lg-{{ column_lg }} row-cols-md-{{ column_md }} row-cols-sm-{{ column_sm }} row-cols-{{ column_xs }}">
  {% verbatim %}{% for manufacturer in manufacturers %}{% endverbatim %}
    <a class="col" href="{% verbatim %}{{ manufacturer.href }}{% endverbatim %}">
      <figure class="figure m-0 img-{{ image_position }}">
        {% if show_content != 'text' %}
          {% if lazy_loading %}
          <img class="figure-img img-fluid lazy-load loader-spinner" src="{{ transparent?:'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' }}" width="{{ image_width }}" height="{{ image_height }}" data-src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
          {% else %}
          <img class="figure-img img-fluid" width="{{ image_width }}" height="{{ image_height }}" src="{% verbatim %}{{ manufacturer.image }}{% endverbatim %}" alt="{% verbatim %}{{ manufacturer.name }}{% endverbatim %}" >
          {% endif %}
        {% endif %}
        {% if show_content != 'image' %}
        <figcaption  class="figure-caption">{% verbatim %}{{ manufacturer.name }}{% endverbatim %}</figcaption>
        {% endif %}
      </figure>
    </a>
  {% verbatim %}{% endfor %}{% endverbatim %}
  </div>
{% endif %}