<div class="panel panel-default">
  {% if heading_title is not empty %}
  <div class="panel-heading">{{ heading_title }}</div>
  {% endif %}
  <div class="list-group"> {% for filter_group in filter_groups %} <a class="list-group-item">{{ filter_group.name }}</a>
    <div class="list-group-item">
      <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
        <div class="form-check">
          {% if filter.filter_id in filter_category %}
          <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" class="form-check-input" checked="checked" />
          {% else %}
          <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" class="form-check-input" />
          {% endif %}
          <label class="form-check-label">{{ filter.name }}</label>
        </div>
        {% endfor %}</div>
    </div>
    {% endfor %}</div>
  <div class="panel-footer text-end">
    <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
  </div>
</div>
<script><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 
