<div id="mz-product-listing-{% verbatim %}{{ mz_suffix }}{% endverbatim %}" class="mz-tab-listing">
  {% if heading_title or tab_status %}
  <div class="mz-tab-listing-header d-flex{{ heading_title and tab_status?' flex-wrap' }}{{ tab_status?' tabs' }}">
    {% if heading_title %}
    <h3 class="module-title">{{ heading_title }}</h3>
    {% endif %}

    <div class="d-flex {{ heading_title?' ms-auto':' flex-grow-1' }}">
      {% if tab_status %} {# Tab #}
      <ul class="nav nav-tabs nav-scroll me-auto">
        {% verbatim %}{% for key, tab in tabs %}{% endverbatim %}
          <li class="nav-item">
          {% verbatim %}{% if key %}{% endverbatim %}
            <a class="nav-link icon-{{ tab_icon_position }}" data-bs-toggle="tab" href="#mz-product-tab-{% verbatim %}{{ mz_suffix }}-{{ key }}{% endverbatim %}">
           {% verbatim %}{% if tab.icon_font %}{% endverbatim %}
            <i class="icon {% verbatim %}{{ tab.icon_font }}{% endverbatim %}" {{ tab_icon_width?'style="font-size: ' ~ tab_icon_width ~ 'px"':'' }}></i>
            {% verbatim %}{% elseif tab.icon_svg %}{% endverbatim %}
            <div title="{% verbatim %}{{ tab.name }}{% endverbatim %}" class="icon svg-icon" style="{{ tab_icon_width?'width:' ~ tab_icon_width ~ 'px;' }}{{ tab_icon_height?'height:' ~ tab_icon_height ~ 'px;' }}">{% verbatim %}{{ tab.icon_svg }}{% endverbatim %}</div>
            {% verbatim %}{% elseif tab.icon_image %}{% endverbatim %}
            <img class="icon" width="{{ tab_icon_width?:'1em' }}" height="{{ tab_icon_height?:'1em' }}" src="{% verbatim %}{{ tab.icon_image }}{% endverbatim %}" alt="{% verbatim %}{{ tab.name }}{% endverbatim %}" />
            {% verbatim %}{% endif %}{% endverbatim %}
            {% verbatim %}{{ tab.name }}{% endverbatim %}</a>
          {% verbatim %}{% else %}{% endverbatim %}
            <a class="nav-link icon-{{ tab_icon_position }} active" data-bs-toggle="tab" href="#mz-product-tab-{% verbatim %}{{ mz_suffix }}-{{ key }}{% endverbatim %}">
            {% verbatim %}{% if tab.icon_font %}{% endverbatim %}
            <i class="icon {% verbatim %}{{ tab.icon_font }}{% endverbatim %}" {{ tab_icon_width?'style="font-size: ' ~ tab_icon_width ~ 'px"':'' }}></i>
            {% verbatim %}{% elseif tab.icon_svg %}{% endverbatim %}
            <div title="{% verbatim %}{{ tab.name }}{% endverbatim %}" class="icon svg-icon" style="{{ tab_icon_width?'width:' ~ tab_icon_width ~ 'px;' }}{{ tab_icon_height?'height:' ~ tab_icon_height ~ 'px;' }}">{% verbatim %}{{ tab.icon_svg }}{% endverbatim %}</div>
            {% verbatim %}{% elseif tab.icon_image %}{% endverbatim %}
            <img class="icon" width="{{ tab_icon_width?:'1em' }}" height="{{ tab_icon_height?:'1em' }}" src="{% verbatim %}{{ tab.icon_image }}{% endverbatim %}" alt="{% verbatim %}{{ tab.name }}{% endverbatim %}" />
            {% verbatim %}{% endif %}{% endverbatim %}
            {% verbatim %}{{ tab.name }}{% endverbatim %}</a>
          {% verbatim %}{% endif %}{% endverbatim %}
          </li>
        {% verbatim %}{% endfor %}{% endverbatim %}
      </ul>
      {% endif %}

      {% if carousel_status and mz_config.get('html_tab_listing_carousel_action_in_tab') %} {# carousel action button #}
      <div class="mz-tab-listing-navigation">
        <div class="mz-swiper-nav-prev" role="button">
          {% if carousel_nav_icon_font %}
          <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
          {% elseif carousel_nav_icon_svg %}
          <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
          {% elseif carousel_nav_icon_image %}
          <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
          {% endif %}</div>
        <div class="mz-swiper-nav-next" role="button">
          {% if carousel_nav_icon_font %}
          <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
          {% elseif carousel_nav_icon_svg %}
          <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
          {% elseif carousel_nav_icon_image %}
          <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
          {% endif %}</div>
      </div>
      {% endif %}
      
    </div>
  </div>
  {% endif %}
  
  <div class="mz-tab-listing-content clearfix">
      {% if banner_image or banner_svg %}
      <div class="mz-tab-listing-banner float-start d-none d-sm-block">
        {% if banner_url is not empty %}
        <a href="{{ banner_url.href }}" {{ banner_url.attr }} {% if url_target %}target="{{ url_target }}"{% endif %}>
          {% if banner_svg %}
          <div class="svg-icon img-fluid" style="width:{{ banner_width?:200 }}px;height:{{ banner_height?:300 }}px">{{ banner_svg }}</div>
          {% else %}
          <img class="img-fluid" width="{{ banner_width?:200 }}" height="{{ banner_height?:300 }}" src="{{ banner_image }}"/>
          {% endif %}
        </a>
        {% else %}
          {% if banner_svg %}
          <div class="svg-icon img-fluid" style="width:{{ banner_width?:200 }}px;height:{{ banner_height?:300 }}px">{{ banner_svg }}</div>
          {% else %}
          <img class="img-fluid" width="{{ banner_width?:200 }}" height="{{ banner_height?:300 }}" src="{{ banner_image }}"/>
          {% endif %}
        {% endif %}
      </div>
      {% endif %}
      <div class="tab-content">
        {% verbatim %}
        {% for key, tab in tabs %}
        <div id="mz-product-tab-{{ mz_suffix }}-{{ key }}" class="{{ key?'':'active show' }} tab-pane fade">
        {% endverbatim %}
          {% if carousel_status %}
          <div class="swiper" dir="{{ direction }}">
            <div class="swiper-wrapper">
            {% verbatim %}{% for product_key, product in tab.products %}{% endverbatim %}
              <div class="swiper-slide">
                <div class="product-thumb image-{{ product_image_position }}">
                  <div class="product-thumb-top">
                    <div class="image">
                      {% verbatim %}{% if product.mz_images is empty %}{% endverbatim %}
                        <a href="{% verbatim %}{{ product.href }}{% endverbatim %}" {% if url_target %}target="{{ url_target }}"{% endif %}>
                          {% if image_lazy_loading %}
                          <img class="lazy-load loader-spinner" width="{{ product_image_width }}" height="{{ product_image_height }}" src="{{ transparent }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                          {% else %}
                          <img width="{{ product_image_width }}" height="{{ product_image_height }}" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                          {% endif %}
                        </a>
                      {% verbatim %}{% else %}{% endverbatim %}
                        <a id="mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ key }}-{{ product_key }}{% endverbatim %}" class="carousel d-block slide" href="{% verbatim %}{{ product.href }}{% endverbatim %}" {% if url_target %}target="{{ url_target }}"{% endif %}>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              {% if image_lazy_loading %}
                              <img class="lazy-load" src="{{ transparent }}" width="{{ product_image_width }}" height="{{ product_image_height }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img width="{{ product_image_width }}" height="{{ product_image_height }}" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </div>
                            {% verbatim %}{% for image in product.mz_images %}{% endverbatim %}
                            <div class="carousel-item">
                              {% if image_lazy_loading %}
                              <img class="lazy-load" width="{{ product_image_width }}" height="{{ product_image_height }}" src="{{ transparent }}" data-src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}data-srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} width="{{ product_image_width }}" height="{{ product_image_height }}" alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </div>
                            {% verbatim %}{% endfor %}{% endverbatim %}
                          </div>
                          <ul class="carousel-indicators">
                            <li data-bs-target="#mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ key }}-{{ product_key }}{% endverbatim %}" data-bs-slide-to="0" class="active">
                              {% if image_lazy_loading %}
                              <img class="lazy-load img-thumbnail" src="{{ transparent }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}"/>
                              {% else %}
                              <img class="img-thumbnail" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </li>
                            {% verbatim %}{% set slide_to = 1 %}{% endverbatim %}
                            {% verbatim %}{% for image in product.mz_images %}{% endverbatim %}
                            <li data-bs-target="#mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ key }}-{{ product_key }}{% endverbatim %}" data-bs-slide-to="{% verbatim %}{{ slide_to }}{% endverbatim %}">
                              {% if image_lazy_loading %}
                              <img class="lazy-load img-thumbnail" src="{{ transparent }}" data-src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}data-srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img class="img-thumbnail" src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </li>
                            {% verbatim %}{% set slide_to = slide_to + 1 %}{% endverbatim %}
                            {% verbatim %}{% endfor %}{% endverbatim %}
                          </ul>
                        </a>
                      {% verbatim %}{% endif %}{% endverbatim %}
                    </div>
                    {% verbatim %}{% for position, labels in product.mz_labels %} {# Product label #}
                    <div class="product-label {{ position }}">{% for label in labels %}<div class="{{ label.class }}" style="{{ label.style }}">{{ label.text }}</div>{% endfor %}</div>
                    {% endfor %}{% endverbatim %}
                    {% if (not mz_config.get('html_product_cart_in_caption') and cart_status) or (not mz_config.get('html_product_wishlist_in_caption') and wishlist_status) or (not mz_config.get('html_product_quick_view_in_caption') and quick_view_status) or (not mz_config.get('html_product_compare_in_caption') and compare_status) %}
                    <div class="product-action"> {# Product action #}
                      {% if not mz_config.get('html_product_cart_in_caption') and cart_status %}
                      {% verbatim %}<button class="btn btn-cart cart-{{ product.product_id }}" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fas fa-shopping-cart"></i> <span>{{ button_cart }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_wishlist_in_caption') and wishlist_status %}
                      {% verbatim %}<button class="btn btn-wishlist wishlist-{{ product.product_id }} {{ product.mz_wishlist?'wished' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-wishlist="{{ product.mz_wishlist }}" ><i class="fas fa-heart"></i> <span>{{ button_wishlist }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_quick_view_in_caption') and quick_view_status %}
                      {% verbatim %}<button class="btn btn-quick-view quick-view-{{ product.product_id }}" title="{{ button_quick_view }}" onclick="mz_quick_view.show('{{ product.product_id }}');"><i class="fas fa-eye"></i></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_compare_in_caption') and compare_status %}
                      {% verbatim %}<button class="btn btn-compare compare-{{ product.product_id }} {{ product.mz_compare?'compared' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}', this);" data-compare="{{ product.mz_compare }}"><i class="fas fa-sync-alt"></i></button>{% endverbatim %}
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if not mz_config.get('html_product_deal_countdown_compact') and (special_countdown_status or special_sold_status) %}
                      {% verbatim %}{% if (product.mz_special_expire_at and {% endverbatim %}{{ special_countdown_status?'true':'false' }}{% verbatim %}) or (product.mz_special_sold and {% endverbatim %}{{ special_sold_status?'true':'false' }}{% verbatim %}) %}{% endverbatim %}
                        <div class="deal-status"> {# Deal status #}
                          {% if special_sold_status %}
                          {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                          <div class="deal-claimed">
                            {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                            <span class="deal-claimed-info">{% verbatim %}{{ product.mz_special_sold_text }}{% endverbatim %}</span>
                            {% verbatim %}{% endif %}{% endverbatim %}
                            {% verbatim %}{% if product.mz_special_sold_perc %}{% endverbatim %}
                            <div class="progress"><div class="progress-bar bg-secondary" role="progressbar" style="width: {% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}%" aria-valuenow="{% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}" aria-valuemin="0" aria-valuemax="100"></div></div>
                            {% verbatim %}{% endif %}{% endverbatim %}
                          </div>
                          {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                          {% if special_countdown_status %}
                          {% verbatim %}{% if product.mz_special_expire_at %}{% endverbatim %}
                          <div class="deal-countdown" data-compact="0" data-countdown="{% verbatim %}{{ product.mz_special_expire_at }}{% endverbatim %}"></div>
                          {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                        </div>
                      {% verbatim %}{% endif %}{% endverbatim %}
                    {% endif %}
                  </div>
                  <div class="caption"> {# Caption #}
                    {% verbatim %}{% if product.mz_manufacturer_href %}<a href="{{ product.mz_manufacturer_href }}" class="manufacturer">{{ product.mz_manufacturer }}</a>{% endif %}{% endverbatim %}
                    {% verbatim %}<h4 class="title"><a class="text-ellipsis-2" href="{{ product.href }}" {% if url_target %}target="{{ url_target }}"{% endif %}>{{ product.name }}</a></h4>{% endverbatim %}
                    {% if rating_status %} {# Rating #}
                    {% verbatim %}{% if product.rating %}
                    <div class="rating">
                      {% for i in range(1, 5) %}
                        {% if product.rating >= i %}
                        <i class="fas fa-star"></i>
                        {% elseif (i - product.rating) < 1 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}{% endverbatim %}
                    {% endif %}
                        
                    {% if mz_config.get('html_product_deal_countdown_compact') and (special_countdown_status or special_sold_status) %}
                    {% verbatim %}{% if (product.mz_special_expire_at and {% endverbatim %}{{ special_countdown_status?'true':'false' }}{% verbatim %}) or (product.mz_special_sold and {% endverbatim %}{{ special_sold_status?'true':'false' }}{% verbatim %}) %}{% endverbatim %}
                    <div class="deal-status">
                      {% if special_sold_status %}
                      {% verbatim %}{% if product.mz_special_sold_perc %}{% endverbatim %}
                      <div class="progress"><div class="progress-bar bg-secondary" role="progressbar" style="width: {% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}%" aria-valuenow="{% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}" aria-valuemin="0" aria-valuemax="100"></div></div>
                      {% verbatim %}{% endif %}{% endverbatim %}
                      {% endif %}
                      {% if special_countdown_status or special_sold_status %}
                      <div class="deal-info">
                      {% if special_sold_status %}
                      {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                      <span class="claimed">{% verbatim %}{{ product.mz_special_sold_text }}{% endverbatim %}</span>
                      {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                      {% if special_countdown_status %}
                      {% verbatim %}{% if product.mz_special_expire_at %}{% endverbatim %}
                      <span class="countdown"><span class="countdown-title">{{ text_endin }}</span> <span data-compact="1" data-countdown="{% verbatim %}{{ product.mz_special_expire_at }}{% endverbatim %}"></span></span>
                      {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                      </div>{% endif %}
                    </div>
                    {% verbatim %}{% endif %}{% endverbatim %}
                    {% endif %}
                    
                    {% verbatim %}{% if product.price %}
                    <div class="price">
                      {% if not product.special %}
                      <span class="price-new">{{ product.price }}</span>
                      {% else %}
                      <span class="price-new special">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                      {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                      {% endif %}
                    </div>
                    {% endif %}{% endverbatim %}

                    {% if (mz_config.get('html_product_cart_in_caption') and cart_status) or (mz_config.get('html_product_wishlist_in_caption') and wishlist_status) or (mz_config.get('html_product_quick_view_in_caption') and quick_view_status) or (mz_config.get('html_product_compare_in_caption') and compare_status) %}
                    <div class="product-action"> {# Product action #}
                      {% if mz_config.get('html_product_cart_in_caption') and cart_status %}
                      {% verbatim %}<button class="btn btn-cart cart-{{ product.product_id }}" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fas fa-shopping-cart"></i> <span>{{ button_cart }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_wishlist_in_caption') and wishlist_status %}
                      {% verbatim %}<button class="btn btn-wishlist wishlist-{{ product.product_id }} {{ product.mz_wishlist?'wished' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-wishlist="{{ product.mz_wishlist }}" ><i class="fas fa-heart"></i> <span>{{ button_wishlist }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_quick_view_in_caption') and quick_view_status %}
                      {% verbatim %}<button class="btn btn-quick-view quick-view-{{ product.product_id }}" title="{{ button_quick_view }}" onclick="mz_quick_view.show('{{ product.product_id }}');"><i class="fas fa-eye"></i> <span>{{ button_quick_view }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_compare_in_caption') and compare_status %}
                      {% verbatim %}<button class="btn btn-compare compare-{{ product.product_id }} {{ product.mz_compare?'compared' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}', this);" data-compare="{{ product.mz_compare }}"><i class="fas fa-sync-alt"></i> <span>{{ button_compare }}</span></button>{% endverbatim %}
                      {% endif %}
                    </div>
                    {% endif %}
                    
                    {% if description_status %}
                    {% verbatim %}<p class="description">{{ product.description }}</p>{% endverbatim %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% verbatim %}{% endfor %}{% endverbatim %}
            </div>
            
            {% if carousel_pagination %}
            <div class="swiper-pagination mt-3"></div>
            {% endif %}

            {% if (not heading_title and not tab_status) or not mz_config.get('html_tab_listing_carousel_action_in_tab') %}
            <div class="swiper-pager custom-pager">
              <div class="swiper-button-prev" role="button">
                {% if carousel_nav_icon_font %}
                <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
                {% elseif carousel_nav_icon_svg %}
                <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
                {% elseif carousel_nav_icon_image %}
                <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
                {% endif %}</div>
              <div class="swiper-button-next" role="button">
                {% if carousel_nav_icon_font %}
                <i class="icon {{ carousel_nav_icon_font }}" {{ carousel_nav_icon_size?'style="font-size: ' ~ carousel_nav_icon_size ~ 'px"':'' }}></i>
                {% elseif carousel_nav_icon_svg %}
                <div class="icon svg-icon" style="{{ carousel_nav_icon_width?'width:' ~ carousel_nav_icon_width ~ 'px;' }}{{ carousel_nav_icon_height?'height:' ~ carousel_nav_icon_height ~ 'px;' }}">{{ carousel_nav_icon_svg }}</div>
                {% elseif carousel_nav_icon_image %}
                <img class="icon" width="{{ carousel_nav_icon_width }}" height="{{ carousel_nav_icon_height }}" src="{{ carousel_nav_icon_image }}"  />
                {% endif %}</div>
            </div>
            {% endif %}

          </div>
          {% else %}
          <div class="row row-cols-xl-{{ column_xl }} row-cols-lg-{{ column_lg }} row-cols-md-{{ column_md }} row-cols-sm-{{ column_sm }} row-cols-{{ column_xs }}">
            {% verbatim %}{% for product_key, product in tab.products %}{% endverbatim %}
              <div class="col">
                <div class="product-thumb image-{{ product_image_position }}">
                  <div class="product-thumb-top">
                    <div class="image">
                      {% verbatim %}{% if product.mz_images is empty %}{% endverbatim %}
                        <a href="{% verbatim %}{{ product.href }}{% endverbatim %}" {% if url_target %}target="{{ url_target }}"{% endif %}>
                          {% if image_lazy_loading %}
                          <img class="lazy-load loader-spinner" width="{{ product_image_width }}" height="{{ product_image_height }}" src="{{ transparent }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}"/>
                          {% else %}
                          <img width="{{ product_image_width }}" height="{{ product_image_height }}" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                          {% endif %}
                        </a>
                      {% verbatim %}{% else %}{% endverbatim %}
                        <a id="mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ product_key }}{% endverbatim %}" class="carousel d-block slide" href="{% verbatim %}{{ product.href }}{% endverbatim %}" {% if url_target %}target="{{ url_target }}"{% endif %}>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              {% if image_lazy_loading %}
                              <img class="lazy-load" src="{{ transparent }}" width="{{ product_image_width }}" height="{{ product_image_height }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img width="{{ product_image_width }}" height="{{ product_image_height }}" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </div>
                            {% verbatim %}{% for image in product.mz_images %}{% endverbatim %}
                            <div class="carousel-item">
                              {% if image_lazy_loading %}
                              <img class="lazy-load" width="{{ product_image_width }}" height="{{ product_image_height }}" src="{{ transparent }}" data-src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}data-srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} width="{{ product_image_width }}" height="{{ product_image_height }}" alt="{% verbatim %}{{ product.name }}{% endverbatim %}" title="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </div>
                            {% verbatim %}{% endfor %}{% endverbatim %}
                          </div>
                          <ul class="carousel-indicators">
                            <li data-bs-target="#mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ product_key }}{% endverbatim %}" data-bs-slide-to="0" class="active">
                              {% if image_lazy_loading %}
                              <img class="lazy-load img-thumbnail" src="{{ transparent }}" data-src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}data-srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% else %}
                              <img class="img-thumbnail" src="{% verbatim %}{{ product.thumb }}{% endverbatim %}" {% verbatim %}{% if product.mz_srcset %}srcset="{{ product.mz_srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </li>
                            {% verbatim %}{% set slide_to = 1 %}{% endverbatim %}
                            {% verbatim %}{% for image in product.mz_images %}{% endverbatim %}
                            <li data-bs-target="#mz-product-listing-image-{% verbatim %}{{ mz_suffix }}-{{ product_key }}{% endverbatim %}" data-bs-slide-to="{% verbatim %}{{ slide_to }}{% endverbatim %}">
                              {% if image_lazy_loading %}
                              <img class="lazy-load img-thumbnail" src="{{ transparent }}" data-src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}data-srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}data-sizes="{{ srcset_sizes }}"{% endif %} />
                              {% else %}
                              <img class="img-thumbnail" src="{% verbatim %}{{ image.image }}{% endverbatim %}" {% verbatim %}{% if image.srcset %}srcset="{{ image.srcset }}"{% endif %}{% endverbatim %} {% if srcset_sizes %}sizes="{{ srcset_sizes }}"{% endif %} alt="{% verbatim %}{{ product.name }}{% endverbatim %}" />
                              {% endif %}
                            </li>
                            {% verbatim %}{% set slide_to = slide_to + 1 %}{% endverbatim %}
                            {% verbatim %}{% endfor %}{% endverbatim %}
                          </ul>
                        </a>
                      {% verbatim %}{% endif %}{% endverbatim %}
                    </div>
                
                    {% verbatim %}{% for position, labels in product.mz_labels %} {# Product label #}
                    <div class="product-label {{ position }}">{% for label in labels %}<div class="{{ label.class }}" style="{{ label.style }}">{{ label.text }}</div>{% endfor %}</div>
                    {% endfor %}{% endverbatim %}
                    {% if (not mz_config.get('html_product_cart_in_caption') and cart_status) or (not mz_config.get('html_product_wishlist_in_caption') and wishlist_status) or (not mz_config.get('html_product_quick_view_in_caption') and quick_view_status) or (not mz_config.get('html_product_compare_in_caption') and compare_status) %}
                    <div class="product-action">
                      {% if not mz_config.get('html_product_cart_in_caption') and cart_status %}
                      {% verbatim %}<button class="btn btn-cart cart-{{ product.product_id }}" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fas fa-shopping-cart"></i> <span>{{ button_cart }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_wishlist_in_caption') and wishlist_status %}
                      {% verbatim %}<button class="btn btn-wishlist wishlist-{{ product.product_id }} {{ product.mz_wishlist?'wished' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-wishlist="{{ product.mz_wishlist }}" ><i class="fas fa-heart"></i> <span>{{ button_wishlist }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_quick_view_in_caption') and quick_view_status %}
                      {% verbatim %}<button class="btn btn-quick-view quick-view-{{ product.product_id }}" title="{{ button_quick_view }}" onclick="mz_quick_view.show('{{ product.product_id }}');"><i class="fas fa-eye"></i></button>{% endverbatim %}
                      {% endif %}
                      {% if not mz_config.get('html_product_compare_in_caption') and compare_status %}
                      {% verbatim %}<button class="btn btn-compare compare-{{ product.product_id }} {{ product.mz_compare?'compared' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}', this);" data-compare="{{ product.mz_compare }}"><i class="fas fa-sync-alt"></i></button>{% endverbatim %}
                      {% endif %}
                    </div>
                    {% endif %}
                    {% if not mz_config.get('html_product_deal_countdown_compact') and (special_countdown_status or special_sold_status) %}
                      {% verbatim %}{% if (product.mz_special_expire_at and {% endverbatim %}{{ special_countdown_status?'true':'false' }}{% verbatim %}) or (product.mz_special_sold and {% endverbatim %}{{ special_sold_status?'true':'false' }}{% verbatim %}) %}{% endverbatim %}
                        <div class="deal-status">
                          {% if special_sold_status %}
                          {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                          <div class="deal-claimed">
                            {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                            <span class="deal-claimed-info">{% verbatim %}{{ product.mz_special_sold_text }}{% endverbatim %}</span>
                            {% verbatim %}{% endif %}{% endverbatim %}
                            {% verbatim %}{% if product.mz_special_sold_perc %}{% endverbatim %}
                            <div class="progress"><div class="progress-bar bg-secondary" role="progressbar" style="width: {% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}%" aria-valuenow="{% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}" aria-valuemin="0" aria-valuemax="100"></div></div>
                            {% verbatim %}{% endif %}{% endverbatim %}
                          </div>
                          {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                          {% if special_countdown_status %}
                          {% verbatim %}{% if product.mz_special_expire_at %}{% endverbatim %}
                          <div class="deal-countdown" data-compact="0" data-countdown="{% verbatim %}{{ product.mz_special_expire_at }}{% endverbatim %}"></div>
                          {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                        </div>
                      {% verbatim %}{% endif %}{% endverbatim %}
                    {% endif %}
                  </div>
                  <div class="caption">
                    {% verbatim %}{% if product.mz_manufacturer_href %}<a href="{{ product.mz_manufacturer_href }}" class="manufacturer">{{ product.mz_manufacturer }}</a>{% endif %}{% endverbatim %}
                    {% verbatim %}<h4 class="title"><a class="text-ellipsis-2" href="{{ product.href }}" {% if url_target %}target="{{ url_target }}"{% endif %}>{{ product.name }}</a></h4>{% endverbatim %}
                    {% if rating_status %}
                    {% verbatim %}{% if product.rating %}
                    <div class="rating">
                      {% for i in range(1, 5) %}
                        {% if product.rating >= i %}
                        <i class="fas fa-star"></i>
                        {% elseif (i - product.rating) < 1 %}
                        <i class="fas fa-star-half-alt"></i>
                        {% else %}
                        <i class="far fa-star"></i>
                        {% endif %}
                      {% endfor %}
                    </div>
                    {% endif %}{% endverbatim %}
                    {% endif %}
                
                    {% if mz_config.get('html_product_deal_countdown_compact') and (special_countdown_status or special_sold_status) %}
                    {% verbatim %}{% if (product.mz_special_expire_at and {% endverbatim %}{{ special_countdown_status?'true':'false' }}{% verbatim %}) or (product.mz_special_sold and {% endverbatim %}{{ special_sold_status?'true':'false' }}{% verbatim %}) %}{% endverbatim %}
                    <div class="deal-status">
                      {% if special_sold_status %}
                      {% verbatim %}{% if product.mz_special_sold_perc %}{% endverbatim %}
                      <div class="progress"><div class="progress-bar bg-secondary" role="progressbar" style="width: {% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}%" aria-valuenow="{% verbatim %}{{ product.mz_special_sold_perc }}{% endverbatim %}" aria-valuemin="0" aria-valuemax="100"></div></div>
                      {% verbatim %}{% endif %}{% endverbatim %}
                      {% endif %}
                      {% if special_countdown_status or special_sold_status %}
                      <div class="deal-info">
                      {% if special_sold_status %}
                      {% verbatim %}{% if product.mz_special_sold %}{% endverbatim %}
                      <span class="claimed">{% verbatim %}{{ product.mz_special_sold_text }}{% endverbatim %}</span>
                      {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                      {% if special_countdown_status %}
                      {% verbatim %}{% if product.mz_special_expire_at %}{% endverbatim %}
                      <span class="countdown"><span class="countdown-title">{{ text_endin }}</span> <span data-compact="1" data-countdown="{% verbatim %}{{ product.mz_special_expire_at }}{% endverbatim %}"></span></span>
                      {% verbatim %}{% endif %}{% endverbatim %}{% endif %}
                      </div>{% endif %}
                    </div>
                    {% verbatim %}{% endif %}{% endverbatim %}
                    {% endif %}
                
                    {% verbatim %}{% if product.price %}
                    <div class="price">
                      {% if not product.special %}
                      <span class="price-new">{{ product.price }}</span>
                      {% else %}
                      <span class="price-new special">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                      {% endif %}
                      {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                      {% endif %}
                    </div>
                    {% endif %}{% endverbatim %}
                    {% if (mz_config.get('html_product_cart_in_caption') and cart_status) or (mz_config.get('html_product_wishlist_in_caption') and wishlist_status) or (mz_config.get('html_product_quick_view_in_caption') and quick_view_status) or (mz_config.get('html_product_compare_in_caption') and compare_status) %}
                    <div class="product-action">
                      {% if mz_config.get('html_product_cart_in_caption') and cart_status %}
                      {% verbatim %}<button class="btn btn-cart cart-{{ product.product_id }}" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="fas fa-shopping-cart"></i> <span>{{ button_cart }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_wishlist_in_caption') and wishlist_status %}
                      {% verbatim %}<button class="btn btn-wishlist wishlist-{{ product.product_id }} {{ product.mz_wishlist?'wished' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}', this);" data-wishlist="{{ product.mz_wishlist }}" ><i class="fas fa-heart"></i> <span>{{ button_wishlist }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_quick_view_in_caption') and quick_view_status %}
                      {% verbatim %}<button class="btn btn-quick-view quick-view-{{ product.product_id }}" title="{{ button_quick_view }}" onclick="mz_quick_view.show('{{ product.product_id }}');"><i class="fas fa-eye"></i> <span>{{ button_quick_view }}</span></button>{% endverbatim %}
                      {% endif %}
                      {% if mz_config.get('html_product_compare_in_caption') and compare_status %}
                      {% verbatim %}<button class="btn btn-compare compare-{{ product.product_id }} {{ product.mz_compare?'compared' }}" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}', this);" data-compare="{{ product.mz_compare }}"><i class="fas fa-sync-alt"></i> <span>{{ button_compare }}</span></button>{% endverbatim %}
                      {% endif %}
                    </div>
                    {% endif %}
                
                    {% if description_status %}
                    {% verbatim %}<p class="description">{{ product.description }}</p>{% endverbatim %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% verbatim %}{% endfor %}{% endverbatim %}
            </div>
          {% endif %}
          </div>
        {% verbatim %}{% endfor %}{% endverbatim %}
      </div>
  </div>
</div>
{% if carousel_status %}
<script>
$(function(){
  $('#mz-product-listing-{% verbatim %}{{ mz_suffix }}{% endverbatim %}').mz_tabSlider({
    {% if carousel_autoplay %}
    autoplay: {delay: {{ carousel_autoplay }}},
    {% else %}
    autoplay: false,
    {% endif %}
    {% if carousel_pagination %}
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    {% else %}
    pagination: false,
    {% endif %}
    spaceBetween: {{ gutter_width }},
    slidesPerView:  {{ column_xs }},
    grid: {fill: 'row', rows: {{ carousel_row }}},
    breakpoints: {
      {{ breakpoint_sm }}: {
        slidesPerView: {{ column_sm }}
      },
      {{ breakpoint_md }}: {
        slidesPerView: {{ column_md }}
      },
      {{ breakpoint_lg }}: {
        slidesPerView: {{ column_lg }}
      },
      {{ breakpoint_xl }}: {
        slidesPerView: {{ column_xl }}
      },
    },
  });
});
</script>
{% endif %}

