{% if author and timestamp %}
<span class="me-3 extra-author">{% verbatim %}{{ by_author }} - {{ timestamp }}{% endverbatim %}</span>
{% else %}
{% if author %}<span class="me-3 extra-author">{% verbatim %}{{ by_author }}{% endverbatim %}</span>{% endif %}
{% if timestamp %}<span class="me-3 extra-timestamp">{% verbatim %}{{ timestamp }}{% endverbatim %}</span>{% endif %}
{% endif %}
{% if viewed %}<span class="me-3 extra-viewed"><i class="fas fa-eye"></i> {% verbatim %}{{ viewed }}{% endverbatim %}</span>{% endif %}
{% if comments %}<span class="me-3 extra-comments"><i class="fas fa-comments"></i> {% verbatim %}{{ (comments > 1 ? text_comments : text_comment)|format(comments) }}{% endverbatim %}</span>{% endif %}
