<!-- Form -->
<form id="setting-content-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  <!--content status-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-status">{{ entry_status }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_status) %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" checked>
        <label for="input-setting-content-status-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled">
        <label for="input-setting-content-status-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" >
        <label for="input-setting-content-status-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled" checked>
        <label for="input-setting-content-status-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  <!--content caption-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-caption">{{ entry_caption }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_caption) %} 
        <input type="radio" name="content_caption" value="1" id="input-setting-content-caption-enabled" checked>
        <label for="input-setting-content-caption-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_caption" value="0" id="input-setting-content-caption-disabled">
        <label for="input-setting-content-caption-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_caption" value="1" id="input-setting-content-caption-enabled" >
        <label for="input-setting-content-caption-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_caption" value="0" id="input-setting-content-caption-disabled" checked>
        <label for="input-setting-content-caption-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
</form>