<!-- Form -->
<form id="setting-content-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  <!--content status-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-status">{{ entry_status }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_status) %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" checked>
        <label for="input-setting-content-status-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled">
        <label for="input-setting-content-status-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" >
        <label for="input-setting-content-status-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled" checked>
        <label for="input-setting-content-status-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  <!--content brand-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-brand">{{ entry_brand }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_brand) %} 
        <input type="radio" name="content_brand" value="1" id="input-setting-content-brand-enabled" checked>
        <label for="input-setting-content-brand-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_brand" value="0" id="input-setting-content-brand-disabled">
        <label for="input-setting-content-brand-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_brand" value="1" id="input-setting-content-brand-enabled" >
        <label for="input-setting-content-brand-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_brand" value="0" id="input-setting-content-brand-disabled" checked>
        <label for="input-setting-content-brand-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  <!--content model-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-model">{{ entry_model }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_model) %} 
        <input type="radio" name="content_model" value="1" id="input-setting-content-model-enabled" checked>
        <label for="input-setting-content-model-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_model" value="0" id="input-setting-content-model-disabled">
        <label for="input-setting-content-model-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_model" value="1" id="input-setting-content-model-enabled" >
        <label for="input-setting-content-model-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_model" value="0" id="input-setting-content-model-disabled" checked>
        <label for="input-setting-content-model-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  <!--content reward-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-reward">{{ entry_reward }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_reward) %} 
        <input type="radio" name="content_reward" value="1" id="input-setting-content-reward-enabled" checked>
        <label for="input-setting-content-reward-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_reward" value="0" id="input-setting-content-reward-disabled">
        <label for="input-setting-content-reward-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_reward" value="1" id="input-setting-content-reward-enabled" >
        <label for="input-setting-content-reward-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_reward" value="0" id="input-setting-content-reward-disabled" checked>
        <label for="input-setting-content-reward-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
       
   <!--content stock-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-stock">{{ entry_stock }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_stock) %} 
        <input type="radio" name="content_stock" value="1" id="input-setting-content-stock-enabled" checked>
        <label for="input-setting-content-stock-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_stock" value="0" id="input-setting-content-stock-disabled">
        <label for="input-setting-content-stock-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_stock" value="1" id="input-setting-content-stock-enabled" >
        <label for="input-setting-content-stock-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_stock" value="0" id="input-setting-content-stock-disabled" checked>
        <label for="input-setting-content-stock-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
</form>