<!-- Form -->
<form id="setting-content-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  <!--content status-->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="input-setting-content-status">{{ entry_status }}</label>
    <div class="col-sm-9">
      <div class="mz-switch-field">
        {% if (content_status) %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" checked>
        <label for="input-setting-content-status-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled">
        <label for="input-setting-content-status-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_status" value="1" id="input-setting-content-status-enabled" >
        <label for="input-setting-content-status-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_status" value="0" id="input-setting-content-status-disabled" checked>
        <label for="input-setting-content-status-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  {# comment form email status #}
  <div class="form-group">
    <label class="col-xs-3 control-label" >{{ entry_field_email }}</label>
    <div class="col-xs-9">
      <div class="mz-switch-field">
        {% if (content_field_email) %} 
        <input type="radio" name="content_field_email" value="1" id="input-content-field-email-enabled" checked>
        <label for="input-content-field-email-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_field_email" value="0" id="input-content-field-email-disabled">
        <label for="input-content-field-email-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_field_email" value="1" id="input-content-field-email-enabled" >
        <label for="input-content-field-email-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_field_email" value="0" id="input-content-field-email-disabled" checked>
        <label for="input-content-field-email-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>

  {# comment form website status #}
  <div class="form-group">
    <label class="col-xs-3 control-label" >{{ entry_field_website }}</label>
    <div class="col-xs-9">
      <div class="mz-switch-field">
        {% if (content_field_website) %} 
        <input type="radio" name="content_field_website" value="1" id="input-content-field-website-enabled" checked>
        <label for="input-content-field-website-enabled" >{{ text_enabled }}</label>
        <input type="radio" name="content_field_website" value="0" id="input-content-field-website-disabled">
        <label for="input-content-field-website-disabled">{{ text_disabled }}</label>
        {% else %} 
        <input type="radio" name="content_field_website" value="1" id="input-content-field-website-enabled" >
        <label for="input-content-field-website-enabled">{{ text_enabled }}</label>
        <input type="radio" name="content_field_website" value="0" id="input-content-field-website-disabled" checked>
        <label for="input-content-field-website-disabled" >{{ text_disabled }}</label>
        {% endif %} 
      </div>
    </div>
  </div>
      
  <div class="form-group">
    <label class="col-xs-3 control-label">{{ entry_size }}</label>
    <div class="col-xs-9">
      <div class="mz-switch-field">
        {% for size in sizes %} 
          {% if (content_size == size['code']) %} 
          <input type="radio" name="content_size" value="{{ size['code'] }}" id="input-setting-content-size-{{ size['code'] }}" checked>
          <label for="input-setting-content-size-{{ size['code'] }}" >{{ size['text'] }}</label>
          {% else %} 
          <input type="radio" name="content_size" value="{{ size['code'] }}" id="input-setting-content-size-{{ size['code'] }}">
          <label for="input-setting-content-size-{{ size['code'] }}" >{{ size['text'] }}</label>
          {% endif %} 
        {% endfor %} 
      </div>
    </div>
  </div>
      
  <div class="form-group">
    <label class="col-xs-3 control-label" for="input-setting-content-color">{{ entry_color }}</label>
    <div class="col-xs-9">
      <select name="content_color" id="input-setting-content-color" class="form-control">
        {% for color in colors %} 
          {% if (content_color == color['code']) %}
          <option value="{{ color['code'] }}" selected="">{{ color['text'] }}</option>
          {% else %} 
          <option value="{{ color['code'] }}">{{ color['text'] }}</option>
          {% endif %} 
        {% endfor %} 
      </select>
    </div>
  </div>
</form>