{% if header %} {# For older version #}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container content py-3">{{ content_top }}
  <form class="payment-form" method="POST" action="{{ process_order }}">
    <div style="text-align:center;">
      <h3>{{ heading_confirm }}</h3>
      {% if payment_amazon_login_pay_test %}
      <label class="form-label">Debug Error Code     :</label>
      <div id="errorCode_address"></div>
      <br>
      <label class="form-label">Debug Error Message  :</label>
      <div id="errorMessage_address"></div>
      {% endif %}
      <div style="display: inline-block; width: 400px; height: 185px;" id="readOnlyAddressBookWidgetDiv"></div>
      <br>
      {% if payment_amazon_login_pay_test %}
      <label class="form-label">Debug Error Code     :</label>
      <div id="errorCode_wallet"></div>
      <br>
      <label class="form-label">Debug Error Message  :</label>
      <div id="errorMessage_wallet"></div>
      {% endif %}
      <div style="display: inline-block; width: 400px; height: 185px;" id="readOnlyWalletWidgetDiv"></div>
    </div>
    <div style="clear: both;"></div>
  </form>
  <div class="checkout-product" style="margin-top: 15px">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-start">{{ column_name }}</td>
          <td class="text-start">{{ column_model }}</td>
          <td class="text-end">{{ column_quantity }}</td>
          <td class="text-end">{{ column_price }}</td>
          <td class="text-end">{{ column_total }}</td>
        </tr>
      </thead>
      <tbody>
      
      {% for product in products %}
      <tr>
        <td class="text-start">{{ product.name }}
          {% for option in product.option %} <br />
          &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
        <td class="text-start">{{ product.model }}</td>
        <td class="text-end">{{ product.quantity }}</td>
        <td class="text-end">{{ product.price }}</td>
        <td class="text-end">{{ product.total }}</td>
      </tr>
      {% endfor %}
        </tbody>
      
      <tfoot>
      
      {% for total in totals %}
      <tr>
        <td colspan="4" class="text-end"><strong>{{ total.title }}:</strong></td>
        <td class="text-end">{{ total.text }}</td>
      </tr>
      {% endfor %}
        </tfoot>
      
    </table>
  </div>
  <div class="buttons clearfix">
    <div class="float-start"> <a href="{{ back }}" class="btn btn-primary">{{ text_back }}</a> </div>
    <div class="float-end">
      <input class="btn btn-primary" id="confirm-button" type="submit" value="{{ text_confirm }}" />
    </div>
  </div>
  {{ content_bottom }} </div>
<script>
	$(document).ready(function() {
		amazon.Login.setClientId('{{ payment_amazon_login_pay_client_id }}');
		new OffAmazonPayments.Widgets.AddressBook({
			sellerId: '{{ payment_amazon_login_pay_merchant_id }}',
			amazonOrderReferenceId: '{{ AmazonOrderReferenceId }}',
			displayMode: "Read",
			design: {
				designMode: 'responsive'
			},
			onError: function(error) {
				document.getElementById("errorCode_address").innerHTML = error.getErrorCode();
				document.getElementById("errorMessage_address").innerHTML = error.getErrorMessage();
			}
		}).bind("readOnlyAddressBookWidgetDiv");


		new OffAmazonPayments.Widgets.Wallet({
			sellerId: '{{ payment_amazon_login_pay_merchant_id }}',
			amazonOrderReferenceId: '{{ AmazonOrderReferenceId }}',
			displayMode: "Read",
			design: {
				designMode: 'responsive'
			},
			onError: function(error) {
				document.getElementById("errorCode_wallet").innerHTML = error.getErrorCode();
				document.getElementById("errorMessage_wallet").innerHTML = error.getErrorMessage();
			}
		}).bind("readOnlyWalletWidgetDiv");



		$('#confirm-button').click(function() {
			if ($(this).attr('disabled') != 'disabled') {
				$('.payment-form').submit();
			}

			$(this).attr('disabled', 'disabled');
		});
	});
//--></script> 
{{ footer }}
{% else %} {# new version #}
<div id="amazonContainer">
    {% if success %}
        <div class="alert alert-success"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><i class="fas fa-exclamation-circle"></i> {{ success }}
        </div>
    {% endif %}
    <h3 class="text-center">{{ heading_confirm }}</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="amazonWidget" id="addressBookWidget"></div>
        </div>
        <div class="col-md-6">
            <div class="amazonWidget" id="walletWidget"></div>
        </div>
    </div>
    {% if is_coupon_change_allowed %}
        <hr />
        <h3 class="text-center">{{ text_coupon }}</h3>
        <p>{{ text_enter_coupon }}</p>
        <div class="input-group" id="couponContainer">
            {% if coupon %}
                <input id="coupon" class="form-control" type="text" disabled value="{{ coupon }}" />
                <a id="couponDiscard" href="{{ coupon_discard }}" class="btn btn-danger"><i class="fas fa-times"></i></a>
            {% else %}
                <input id="coupon" class="form-control" type="text" value="" />
                <button class="btn btn-primary" id="couponApply"><i class="fa fa-tick"></i> {{ button_coupon }}</button>
            {% endif %}
        </div>
    {% endif %}
    <hr />
    <h3 class="text-center">{{ text_comments }}</h3>
    <div class="mb-3">
        <textarea class="form-control" id="comment">{{ comment }}</textarea>
    </div>
    <hr />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-start">{{ column_name }}</th>
                <th class="text-start">{{ column_model }}</th>
                <th class="text-end">{{ column_quantity }}</th>
                <th class="text-end">{{ column_price }}</th>
                <th class="text-end">{{ column_total }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in order.products %}
            <tr>
                <td class="text-start">{{ product.name }}
                    {% for option in product.option %} <br />
                    <small>- {{ option.name }}: {{ option.value }}</small>
                    {% endfor %}
                </td>
                <td class="text-start">{{ product.model }}</td>
                <td class="text-end">{{ product.quantity }}</td>
                <td class="text-end">{{ product.text_price }}</td>
                <td class="text-end">{{ product.text_total }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {% for total in order.totals %}
            <tr>
                <td colspan="4" class="text-end">
                    <strong>{{ total.title }}</strong>
                </td>
                <td class="text-end">{{ total.text }}</td>
            </tr>
        {% endfor %}
        </tfoot>
    </table>
    <div class="buttons">
        <div class="float-end form-control-static">
            <div class="alert alert-warning" id="text-must-apply-coupon" style="display: none;">{{ text_must_apply_coupon }}</div>
            {% if is_order_total_positive %}
                {% if enabled_buyers_multi_currency %}
                    <a class="btn btn-primary" id="confirm-button">{{ text_confirm }}</a>
                {% else %}
                    {% if is_amount_converted %}
                        <div class="alert alert-warning">
                            <i class="fas fa-exclamation-circle"></i> {{ text_amount_converted }}
                            <hr />
                            <div class="text-end">
                                <a class="btn btn-primary" id="confirm-button">{{ text_confirm }}</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-primary" id="confirm-button">{{ text_confirm }}</a>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="alert alert-warning">
                    <i class="fas fa-exclamation-circle"></i> {{ error_order_total_zero }}
                    <hr />
                    <div class="text-end">
                        <a class="btn btn-primary" href="{{ standard_checkout }}" id="confirm-button">{{ text_continue_checkout }}</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="float-start form-control-static">
            <a href="{{ back }}" class="btn btn-secondary">{{ text_back }}</a>
        </div>
    </div>
</div>
<style type="text/css">
    #amazonContainer {
        width: 100%;
        margin: 0 auto;
    }

    #comment {
        height: 150px;
    }
    
    #coupon {
        font-size: 1.5em;
        font-family: Courier;
    }

    .amazonWidget {
        margin: 0 0 10px 0;
        width: 100%;
        height: 230px;
    }
</style>
<script>
(function($) {
    var showCouponError = function(message) {
        $('#couponContainer').before('<div class="alert alert-danger"><button type="button" class="btn-close" data-bs-dismiss="alert"></button><i class="fas fa-exclamation-circle"></i>&nbsp;&nbsp;' + message + '</div>');
    }

    var typewatch = (function() {
        var timer = 0;

        return function(callback) {
            clearTimeout(timer);
            timer = setTimeout(callback, 1500);
        };
    })();

    $(document).ready(function() {
        amazon.Login.setClientId('{{ client_id }}');

        new OffAmazonPayments.Widgets.AddressBook({
            sellerId: '{{ merchant_id }}',
            amazonOrderReferenceId: '{{ order_reference_id }}',
            displayMode: "Read",
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                if (error.getErrorCode() == 'BuyerSessionExpired') {
                    document.location = '{{ session_expired }}';
                }

                {% if sandbox %}
                    console.log("Amazon Login Error for Address (" + error.getErrorCode() + "): " + error.getErrorMessage());
                {% endif %}
            }
        }).bind("addressBookWidget");

        var walletWidgetC  =  new OffAmazonPayments.Widgets.Wallet({
            sellerId: '{{ merchant_id }}',
            amazonOrderReferenceId: '{{ order_reference_id }}',
            displayMode: "Read",
            design: {
                designMode: 'responsive'
            },
            onError: function(error) {
                if (error.getErrorCode() == 'BuyerSessionExpired') {
                    document.location = '{{ session_expired }}';
                }

                {% if sandbox %}
                    console.log("Amazon Login Error for Wallet (" + error.getErrorCode() + "): " + error.getErrorMessage());
                {% endif %}
            }
        });

        {% if enabled_buyers_multi_currency %}
            walletWidgetC.setPresentmentCurrency('{{ buyer_currency }}');
        {% endif %}

        walletWidgetC.bind("walletWidget");
    });

    $(document).on('click', '#couponDiscard', function() {
        $('#couponDiscard').attr('disabled', true);
    });

    $(document).on('click', '#couponApply', function() {
        $('#couponApply').attr('disabled', true);

        $('.alert-danger').remove();

        $.ajax({
            url: '{{ coupon_apply }}',
            type: 'post',
            dataType: 'json',
            data: {
                coupon: $('#coupon').val()
            },
            success: function(data) {
                if (data.error) {
                    showCouponError(data.error);
                    $('#coupon').val('').trigger('input');
                    $('#couponApply').attr('disabled', false);
                } else {
                    document.location = document.location;
                }
            }
        });
    });

    $(document).on('propertychange input', '#coupon', function() {
        if ($(this).val() != '') {
            $('#confirm-button').attr('disabled', true);
            $('#confirm-button').hide();
            $('#text-must-apply-coupon').show();
        } else {
            $('#confirm-button').attr('disabled', false);
            $('#confirm-button').show();
            $('#text-must-apply-coupon').hide();
        }
    });

    $(document).on('propertychange input', '#comment', function() {
        typewatch(() => {
            $.ajax({
                url: '{{ persist_comment }}',
                data: {
                    comment: $('#comment').val()
                },
                type: 'POST'
            })
        });
    });

    var buyNowBtn = document.getElementById("confirm-button");
    var psd_enabled = {{ psd_enabled }};

    buyNowBtn.addEventListener('click', function () {
        if(psd_enabled) {
            OffAmazonPayments.initConfirmationFlow('{{ merchant_id }}', '{{ order_reference_id }}', placeOrder);
        } else {
            buyNowBtn.setAttribute("href", '{{ process_us }}');
        }
        $(buyNowBtn).addClass('disabled').prepend('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>');
    });

    function placeOrder(amazonPayFlow) {
        $.ajax({
            url: '{{ process }}',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if(data.redirect) {
                    document.location = data.redirect;
                } else if (data.error) {
                    window.alert(data.error);
                    amazonPayFlow.error();
                } else {
                    amazonPayFlow.success();
                }
            },
            error: function () {
                amazonPayFlow.error();
                window.alert('{{ error_unexpected_network_error }}');
            },
        });
    }
})(jQuery);
</script>
{% endif %}
