{% if column_left and column_right %}
{% set class = 'col-sm-6' %}
{% elseif column_left or column_right %}
{% set class = 'col-sm-9' %}
{% else %}
{% set class = 'col-sm-12' %}
{% endif %}
{{ header }}
<div class="container">
    {% if breadcrumbs %}
    <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% for breadcrumb in breadcrumbs|slice(0,-1) %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
		</ol>
	</nav>
    {% endif %}
    <div class="row">
        {{ column_left }}
        <div id="content" class="{{ class }} pb-3">
            {{ content_top }}
            {{ content_main }}
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}
