{{ header }}{{ column_left }}{{ column_right }}
<div class="container content py-3">{{ content_top }}
  <h2 class="page-title h3">{{ heading_title }}</h2>
  <p>{{ error }}</p>
  {{ content_bottom }}
</div>
{{ footer }}