<h4>{{ text_instruction }}</h4>
<p><b>{{ text_description }}</b></p>
<div class="card mb-4">
  <div class="card-body">
  <p>{{ bank }}</p>
  <p>{{ text_payment }}</p>
</div>
</div>
<div class="buttons d-flex justify-content-between">
	<a href="{{ mz_back }}" class="btn btn-lg btn-secondary flex-grow-1 me-3"><i class="fas fa-caret-left"></i> {{ button_edit }}</a>
	<button type="button" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-lg btn-primary flex-grow-1">{{ button_confirm }} <i class="fas fa-caret-right"></i></button>
</div>
<script><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/payment/bank_transfer/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').prepend('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>');
		},
		complete: function() {
			$('#button-confirm').children('.spinner-grow').remove();
		},
		success: function(json) {
			if (json['redirect']) {
				location = json['redirect'];	
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
