{{ header }}{{ column_left }} 
{{ mz_column_left }}
{{ mz_header }}
<div id="content" class="mz-content">
  <div class="panel-group mz-panel-action-bar">
    <div class="panel panel-default">
      <div class="panel-heading clearfix" data-toggle="collapse" data-target="#filter-mz-menu">
        <h4 class="panel-title pull-left">{{ text_filter }}</h4>
        <span class="pull-right"><i class="fa fa-chevron-circle-down"></i></span>
      </div>
      <div id="filter-mz-menu" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control large" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" class="form-control large" id="input-status">
                  <option value=""></option>
                  {% if filter_status == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" id="button-reset" class="btn btn-info"><i class="fa fa-times"></i> {{ button_reset }}</button>
          <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert message -->
  {% if (success is defined) %} 
    <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ success }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  {% if (warning is defined) %} 
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ warning }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  
  <div class="panel mz-panel-default">
    <div class="panel-body">
      <form method="post" enctype="multipart/form-data" id="form-mz-menu">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-left">{% if sort %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                  {% else %}
                  <a href="{{ sort_name }}">{{ column_name }}</a>
                  {% endif %}</td>
                <td class="text-center">{% if sort == 'status' %}
                  <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                  {% else %}
                  <a href="{{ sort_status }}">{{ column_status }}</a>
                  {% endif %}</td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if menus %}
              {% for menu in menus %}
              <tr>
                <td class="text-center">{% if menu.menu_id in selected %}
                  <input type="checkbox" name="selected[]" value="{{ menu.menu_id }}" checked="checked" />
                  {% else %}
                  <input type="checkbox" name="selected[]" value="{{ menu.menu_id }}" />
                  {% endif %}</td>
                <td class="text-left">{{ menu.name }}</td>
                <td class="text-center">{{ menu.status }}</td>
                <td class="text-right">
                  <a href="{{ menu.items }}" class="btn btn-primary"><i class="fa fa-sitemap"></i></a>
                  <a href="{{ menu.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="4">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $('#button-filter').on('click', function() {
	var url = '';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}
        
	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}
        
	location = 'index.php?route=extension/maza/menu{{ default_url }}' + url;
});

$('#button-reset').on('click', function(){
  location = 'index.php?route=extension/maza/menu{{ default_url }}';
});

$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/maza/menu/autocomplete{{ default_url }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['menu_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});
</script>
</div>
{{ mz_footer }}