{{ header }}
<div id="account-address" class="container content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs|slice(0,-1) %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
    </ol>
  </nav>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
      {% set class = 'col-md-6' %}
    {% elseif column_left or column_right %}
      {% set class = 'col-md-9' %}
    {% else %}
      {% set class = 'col-md-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="page-title h3 mb-3">{{ text_address }}</h1>
      <form action="{{ action }}" method="post" class="mb-4" enctype="multipart/form-data">
        <fieldset>
        <div class="row g-3">
          <div class="col-sm-6">
            <div class="form-floating required">
                <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control{{ error_firstname?' is-invalid' }}"/>
                <label for="input-firstname">{{ entry_firstname }}</label>
                {% if error_firstname %}
                  <div class="text-danger">{{ error_firstname }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating required">
                <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control{{ error_lastname?' is-invalid' }}"/>
                <label for="input-lastname">{{ entry_lastname }}</label>
                {% if error_lastname %}
                  <div class="text-danger">{{ error_lastname }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
                <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-company" class="form-control"/>
                <label for="input-company">{{ entry_company }}</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating required">
                <input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1" class="form-control{{ error_address_1?' is-invalid' }}"/>
                <label for="input-address-1">{{ entry_address_1 }}</label>
                {% if error_address_1 %}
                  <div class="text-danger">{{ error_address_1 }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
                <input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2" class="form-control"/>
                <label for="input-address-2">{{ entry_address_2 }}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating required">
                <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-city" class="form-control{{ error_city?' is-invalid' }}"/>
                <label for="input-city">{{ entry_city }}</label>
                {% if error_city %}
                  <div class="text-danger">{{ error_city }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating required">
                <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control{{ error_postcode?' is-invalid' }}"/>
                <label for="input-postcode">{{ entry_postcode }}</label>
                {% if error_postcode %}
                  <div class="text-danger">{{ error_postcode }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating required">
                <select name="country_id" id="input-country" class="form-select{{ error_country?' is-invalid' }}">
                  <option value="">{{ text_select }}</option>
                  {% for country in countries %}
                    {% if country.country_id == country_id %}
                      <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                    {% else %}
                      <option value="{{ country.country_id }}">{{ country.name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <label for="input-country">{{ entry_country }}</label>
                {% if error_country %}
                  <div class="text-danger">{{ error_country }}</div>
                {% endif %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating required">
                <select name="zone_id" id="input-zone" class="form-select{{ error_zone?' is-invalid' }}"> </select>
                <label for="input-zone">{{ entry_zone }}</label>
                {% if error_zone %}
                  <div class="text-danger">{{ error_zone }}</div>
                {% endif %}
            </div>
          </div>
          
            {% for custom_field in custom_fields %}
              {% if custom_field.type == 'select' %}
                <div class="col-12">
                  <div class="form-floating{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-select{{ error_custom_field[custom_field.custom_field_id]?' is-invalid' }}">
                      <option value="">{{ text_select }}</option>
                      {% for custom_field_value in custom_field.custom_field_value %}
                        {% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
                          <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                        {% else %}
                          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'radio' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <div>
                        {% for custom_field_value in custom_field.custom_field_value %}
                          <div class="form-check"> {% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
                              <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                                {{ custom_field_value.name }}</label>
                            {% else %}
                              <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                                {{ custom_field_value.name }}</label>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'checkbox' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <div>
                        {% for custom_field_value in custom_field.custom_field_value %}
                          <div class="form-check"> {% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in address_custom_field[custom_field.custom_field_id] %}
                              <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                                {{ custom_field_value.name }}</label>
                            {% else %}
                              <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                                {{ custom_field_value.name }}</label>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'text' %}
                <div class="col-12">
                  <div class="form-floating{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control{{ error_custom_field[custom_field.custom_field_id]?' is-invalid' }}"/>
                    <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'textarea' %}
                <div class="col-12">
                  <div class="form-floating{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control{{ error_custom_field[custom_field.custom_field_id]?' is-invalid' }}">{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                    <label for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    {% if error_custom_field[custom_field.custom_field_id] %}
                      <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'file' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                      <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}  {{ address_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'date' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control date"/>
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-time"></i></span>
                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}"  id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control time"/>
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="col-12">
                  <div class="{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                    <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control datetime"/>
                      </div>
                      {% if error_custom_field[custom_field.custom_field_id] %}
                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          
        </div>
          <div class="mt-3 mb-3 row align-items-center">
            <label class="col-sm-2 col-form-label">{{ entry_default }}</label>
            <div class="col-sm-10">
              {% if default %}
                <div class="form-check form-check-inline">
                  <label><input type="radio" name="default" value="1" class="form-check-input" checked="checked"/>
                    {{ text_yes }}</label>
                </div>
                <div class="form-check form-check-inline">
                  <label><input type="radio" name="default" value="0" class="form-check-input"/>
                    {{ text_no }}</label>
                </div>
              {% else %}
                <div class="form-check form-check-inline">
                  <label><input type="radio" name="default" value="1" class="form-check-input"/>
                    {{ text_yes }}</label>
                </div>
                <div class="form-check form-check-inline">
                  <label><input type="radio" name="default" value="0" class="form-check-input" checked="checked"/>
                    {{ text_no }}</label>
                </div>
              {% endif %}
            </div>
          </div>
        </fieldset>
        <div class="buttons clearfix">
          <div class="float-start"><a href="{{ back }}" class="btn btn-secondary"><i class="fas fa-caret-left"></i> {{ button_back }}</a></div>
          <div class="float-end">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary"/>
          </div>
        </div>
      </form>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script><!--
// Sort the custom fields
$('.custom-field[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.custom-field').length - 2) {
		$('.custom-field').eq(parseInt($(this).attr('data-sort')) + 2).before(this);
	}

	if ($(this).attr('data-sort') > $('.custom-field').length - 2) {
		$('.custom-field:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.custom-field').length - 2) {
		$('.custom-field:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.custom-field').length - 2) {
		$('.custom-field:first').before(this);
	}
});
//--></script>
<script><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script><!--
$(function(){
  $('.datetime').daterangepicker({
    singleDatePicker: true,
    autoApply: true,
    timePicker: true,
    timePicker24Hour: true,
    locale: {
      format: 'YYYY-MM-DD HH:mm'
    }
  });

  $('.time').daterangepicker({
    singleDatePicker: true,
    datePicker: false,
    autoApply: true,
    timePicker: true,
    timePicker24Hour: true,
    locale: {
      format: 'HH:mm'
    }
  }).on('show.daterangepicker', function (ev, picker) {
    picker.container.find('.calendar-table').hide();
  });

  $('.date').daterangepicker({
    singleDatePicker: true,
    autoApply: true,
    locale: {
      format: 'YYYY-MM-DD'
    }
  });
});
//--></script>
<script><!--
$('select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
//--></script>
{{ footer }}
