{{ header }}
<div id="account-password" class="container content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs|slice(0,-1) %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbs|last.text }}</li>
    </ol>
  </nav>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-md-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9' %}
    {% else %}
    {% set class = 'col-md-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="page-title h3 mb-3">{{ heading_title }}</h1>
      <form action="{{ action }}" method="post" class="mb-4" enctype="multipart/form-data">
        <div class="form-floating mb-3 required">
          <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control{{ error_password?' is-invalid' }}">
          <label for="input-password">{{ entry_password }}</label>
          {% if error_password %}
            <div class="text-danger">{{ error_password }}</div>
          {% endif %}
        </div>
        <div class="form-floating required">
          <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control{{ error_confirm?' is-invalid' }}">
          <label for="input-confirm">{{ entry_confirm }}</label>
          {% if error_confirm %}
            <div class="text-danger">{{ error_confirm }}</div>
          {% endif %}
        </div>
        <div class="buttons clearfix mt-4">
          <div class="float-start"><a href="{{ back }}" class="btn btn-secondary"><i class="fas fa-caret-left"></i> {{ button_back }}</a></div>
          <div class="float-end">
            <input type="submit" value="{{ button_continue }}" class="btn btn-primary" />
          </div>
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
