{{ header }}{{ column_left }} 
{{ mz_column_left }}
{{ mz_header }}
<div id="content" class="mz-content">
  
  <!-- Alert message -->
  {% if (success is defined) %} 
    <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ success }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  {% if (warning is defined) %} 
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ warning }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  
  <div class="panel mz-panel-default">
    <div class="panel-body">
      <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-mz-product-label">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-left">{% if sort == 'name' %} <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a> {% else %} <a href="{{ sort_name }}">{{ column_name }}</a> {% endif %}</td>
                <td class="text-center">{% if sort == 'status' %} <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                <td class="text-center">{% if sort == 'sort_order' %} <a href="{{ sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a> {% else %} <a href="{{ sort_order }}">{{ column_sort_order }}</a> {% endif %}</td>
                <td class="text-right">{% if sort == 'date_modified' %} <a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a> {% else %} <a href="{{ sort_date_modified }}">{{ column_date_modified }}</a> {% endif %}</td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if labels %}
              {% for label in labels %}
              <tr>
                <td class="text-center">{% if label.product_label_id in selected %}
                  <input type="checkbox" name="selected[]" value="{{ label.product_label_id }}" checked="checked" />
                  {% else %}
                  <input type="checkbox" name="selected[]" value="{{ label.product_label_id }}" />
                  {% endif %}</td>
                <td class="text-left">{{ label.name }}</td>
                {% if label.status %}
                  <td class="text-center text-success">{{ text_enabled }}</td>
                {% else %}
                  <td class="text-center text-danger">{{ text_disabled }}</td>
                {% endif %}
                <td class="text-center">{{ label.sort_order }}</td>
                <td class="text-right">{{ label.date_modified }}</td>
                <td class="text-right">
                  <a href="{{ label.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                  <a href="{{ label.style }}" data-toggle="tooltip" title="{{ button_style }}" class="btn btn-info"><i class="fa fa-paint-brush"></i></a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="8">{{ text_no_results }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
  </div>
</div>
{{ mz_footer }}