<div class="toast m-3" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
    <div class="toast-header text-bg-primary">
        <span class="me-auto"><i class="fas fa-shopping-cart"></i> {{ total }}</span>
        <button type="button" class="ms-2 mb-1 btn-close btn-close-primary-contrast" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="d-flex mb-3 align-items-start">
            <img src="{{ thumb }}" class="img-thumbnail me-2 flex-shrink-0" /> <p>{{ success }}</p>
        </div>
        <div class="row g-3">
            <div class="col d-grid"><a class="btn btn-primary" href="{{ cart }}">{{ text_cart }} <i class="fas fa-long-arrow-alt-right rtl-swap"></i></a></div>
            <div class="col d-grid"><a class="btn btn-secondary" href="{{ checkout }}">{{ text_checkout }} <i class="fas fa-long-arrow-alt-right rtl-swap"></i></a></div>
        </div>
    </div>
</div>