<!-- Form -->
<form id="setting-design-form" class="form-horizontal" enctype="multipart/form-data" method="post">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-design-general" data-toggle="tab">{{ tab_general }}</a></li>
    <li><a href="#tab-design-accordion" data-toggle="tab">{{ tab_accordion }}</a></li>
    <li><a href="#tab-design-layout" data-toggle="tab">{{ tab_layout }}</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab-design-general" class="tab-pane active">
      <!--design status-->
      <div class="form-group">
        <label class="col-xs-3 control-label" for="input-design-status">{{ entry_status }}</label>
        <div class="col-xs-9">
          <div class="mz-switch-field">
            {% if (design_status) %} 
            <input type="radio" name="design_status" value="1" id="input-design-status-enabled" checked>
            <label for="input-design-status-enabled" >{{ text_enabled }}</label>
            <input type="radio" name="design_status" value="0" id="input-design-status-disabled">
            <label for="input-design-status-disabled">{{ text_disabled }}</label>
            {% else %} 
            <input type="radio" name="design_status" value="1" id="input-design-status-enabled" >
            <label for="input-design-status-enabled">{{ text_enabled }}</label>
            <input type="radio" name="design_status" value="0" id="input-design-status-disabled" checked>
            <label for="input-design-status-disabled" >{{ text_disabled }}</label>
            {% endif %} 
          </div>
        </div>
      </div>

      {#title#}
      <div class="form-group">
        <label class="col-xs-3 control-label" for="input-setting-design-title">{{ entry_title }}</label>
        <div class="col-xs-9">
        {% for language in languages %} 
          <div class="input-group inline"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
            <input class="form-control" type="text" name="design_title[{{ language['language_id'] }}]" value="{{ design_title[language['language_id']] is defined?design_title[language['language_id']]:'' }}" placeholder="{{ entry_title }}" >
          </div>
        {% endfor %} 
        </div>
      </div>
      
      <!--Icon width-->
      <div class="form-group">
        <label class="col-xs-3 control-label" for="input-design-icon-width">{{ entry_icon_width }}</label>
        <div class="col-xs-9">
          <input type="text" name="design_icon_width" value="{{ design_icon_width }}" placeholder="{{ entry_icon_width }}" id="input-design-icon-width" class="form-control" />
        </div>
      </div>

      <!--Icon height-->
      <div class="form-group">
        <label class="col-xs-3 control-label" for="input-design-icon-height">{{ entry_icon_height }}</label>
        <div class="col-xs-9">
          <input type="text" name="design_icon_height" value="{{ design_icon_height }}" placeholder="{{ entry_icon_height }}" id="input-design-icon-height" class="form-control" />
        </div>
      </div>

      <!--Hook-->
      <div class="form-group">
        <label class="col-xs-3 control-label"><span data-toggle="tooltip" title="{{ help_hook }}">{{ entry_hook }}</span></label>
        <div class="col-xs-9">
          <div class="mz-switch-field">
            {% if (design_hook) %} 
            <input type="radio" name="design_hook" value="1" id="input-design-hook-enabled" checked>
            <label for="input-design-hook-enabled" >{{ text_enabled }}</label>
            <input type="radio" name="design_hook" value="0" id="input-design-hook-disabled">
            <label for="input-design-hook-disabled">{{ text_disabled }}</label>
            {% else %} 
            <input type="radio" name="design_hook" value="1" id="input-design-hook-enabled" >
            <label for="input-design-hook-enabled">{{ text_enabled }}</label>
            <input type="radio" name="design_hook" value="0" id="input-design-hook-disabled" checked>
            <label for="input-design-hook-disabled" >{{ text_disabled }}</label>
            {% endif %} 
          </div>
        </div>
      </div>

    </div>
    <div id="tab-design-accordion" class="tab-pane">
      <div class="panel mz-panel-vertical-nav">
        <div class="panel-body clearfix">
          <ul id="design-tab-panel" class="nav nav-tabs mz-panel-nav-vertical-tabs col-xs-2">
            {% set panel_active_class = 'class="active"' %} {# add active class to first panel #}
            {% set panel_key = -1 %} {# Index of panel #}

            {% for key,panel in design_accordion %} 
              <li {{ panel_active_class?:'' }}><a href="#design-tab-panel-{{ key }}" data-toggle="tab">{{ panel['name'][language_id] is not empty?panel['name'][language_id]|slice(0,20):text_undefined }}</a></li>
              {% set panel_active_class = false %} {# Reset active class after used asign biggest key #}
              {% if (panel_key < key) %}
              {% set panel_key = key %}
              {% endif %}
            {% endfor %} 
          </ul>
          <div id="design-tab-panel-content" class="tab-content col-xs-10">
            {% set panel_active_class = 'active in' %}
            {% for key,panel in design_accordion %} 
              <div id="design-tab-panel-{{ key }}" class="tab-pane fade {{ panel_active_class?:'' }}">
                <!-- Item status-->
                <div class="form-group">
                  <label class="col-xs-3 control-label">{{ entry_status }}</label>
                  <div class="col-xs-9">
                    <div class="mz-switch-field">
                      {% if (panel['status']) %} 
                      <input type="radio" name="design_accordion[{{ key }}][status]" value="1" id="input-design-panel-status-enabled-{{ key }}" checked>
                      <label for="input-design-panel-status-enabled-{{ key }}" >{{ text_enabled }}</label>
                      <input type="radio" name="design_accordion[{{ key }}][status]" value="0" id="input-design-panel-status-disabled-{{ key }}">
                      <label for="input-design-panel-status-disabled-{{ key }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="design_accordion[{{ key }}][status]" value="1" id="input-design-panel-status-enabled-{{ key }}" >
                      <label for="input-design-panel-status-enabled-{{ key }}">{{ text_enabled }}</label>
                      <input type="radio" name="design_accordion[{{ key }}][status]" value="0" id="input-design-panel-status-disabled-{{ key }}" checked>
                      <label for="input-design-panel-status-disabled-{{ key }}" >{{ text_disabled }}</label>
                      {% endif %} 
                    </div>
                  </div>
                </div>

                <!--Item name-->
                <div class="form-group required">
                  <label class="col-xs-3 control-label">{{ entry_name }}</label>
                  <div class="col-xs-9">
                  {% for language in languages %} 
                    <div class="input-group inline"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                      <input class="form-control input_design_panel_name_{{ language['language_id'] }}" type="text" name="design_accordion[{{ key }}][name][{{ language['language_id'] }}]" data-panel_key="{{ key }}" value="{{ panel['name'][language['language_id']] is defined?panel['name'][language['language_id']]:'' }}" placeholder="{{ entry_name }}" >
                    </div>
                  {% endfor %} 
                  </div>
                </div>

                <!--Item icon-->
                <div class="form-group">
                  <label class="col-xs-3 control-label" >{{ entry_icon }}</label>
                  <div class="col-xs-9">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab-design-icon-image-{{ key }}" data-meta="image" data-toggle="tab">{{ tab_image }}</a></li>
                      <li><a href="#tab-design-icon-svg-{{ key }}" data-meta="image" data-toggle="tab">{{ tab_svg }}</a></li>
                      <li><a href="#tab-design-icon-font-{{ key }}" data-meta="font" data-toggle="tab">{{ tab_font }}</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab-design-icon-image-{{ key }}">
                        <div class="el-group">
                        {% for language in languages %} 
                          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                          <div class="el-item">
                            <a href="" id="design-thumb-icon-image{{ language['language_id'] }}-{{ key }}" data-toggle="image" class="img-thumbnail"><img src="{{ panel['thumb_icon_image'][language['language_id']] is not empty?panel['thumb_icon_image'][language['language_id']]:placeholder_image }}" alt="" title="" data-placeholder="{{ placeholder_image }}" /></a><input type="hidden" name="design_accordion[{{ key }}][icon_image][{{ language['language_id'] }}]" value="{{ panel['icon_image'][language['language_id']] is defined?panel['icon_image'][language['language_id']]:'' }}" id="input-design-icon-image{{ language['language_id'] }}-{{ key }}" />
                          </div>
                        {% endfor %} 
                        </div>
                      </div>
                      <div class="tab-pane" id="tab-design-icon-svg-{{ key }}">
                        <div class="el-group">
                        {% for language in languages %} 
                          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                          <div class="el-item">
                            <a href="" id="design-thumb-icon-svg{{ language['language_id'] }}-{{ key }}" data-toggle="svg" class="img-thumbnail"><img width="100" height="100" src="{{ panel['thumb_icon_svg'][language['language_id']] is not empty?panel['thumb_icon_svg'][language['language_id']]:placeholder_svg }}" alt="" title="" data-placeholder="{{ placeholder_svg }}" /></a><input type="hidden" name="design_accordion[{{ key }}][icon_svg][{{ language['language_id'] }}]" value="{{ panel['icon_svg'][language['language_id']] is defined?panel['icon_svg'][language['language_id']]:'' }}" id="input-design-icon-svg{{ language['language_id'] }}-{{ key }}" />
                          </div>
                        {% endfor %} 
                        </div>
                      </div>
                      <div class="tab-pane" id="tab-design-icon-font-{{ key }}">
                        <div class="el-group">
                        {% for language in languages %} 
                          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                          <div class="el-item">
                            <a href="" id="design-thumb-icon-font{{ language['language_id'] }}-{{ key }}" data-toggle="font" class="img-thumbnail icon-thumb"><i class="{{ panel['icon_font'][language['language_id']] is not empty?panel['icon_font'][language['language_id']]:placeholder_font }}" data-placeholder="{{ placeholder_font }}"></i></a> <input type="hidden" name="design_accordion[{{ key }}][icon_font][{{ language['language_id'] }}]" value="{{ panel['icon_font'][language['language_id']] is defined?panel['icon_font'][language['language_id']]:'' }}" id="input-design-icon-font{{ language['language_id'] }}-{{ key }}" />
                          </div>
                        {% endfor %} 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--sort order-->
                <div class="form-group required">
                  <label class="col-xs-3 control-label" for="input-design-sort-order-{{ key }}">{{ entry_sort_order }}</label>
                  <div class="col-xs-9">
                    <input class="form-control" id="input-design-sort-order-{{ key }}" placeholder="{{ entry_sort_order }}" type="text" name="design_accordion[{{ key }}][sort_order]" value="{{ panel['sort_order'] }}" >
                  </div>
                </div>
                  
                {# types #}
                <div class="form-group">
                  <label class="col-xs-3 control-label">{{ entry_type }}</label>
                  <div class="col-xs-9">
                    <div class="mz-switch-field">
                      {% for type in types %} 
                        {% if (panel['type'] == type['code']) %} 
                        <input type="radio" name="design_accordion[{{ key }}][type]" value="{{ type['code'] }}" id="input-setting-design-type-{{ type['code'] }}-{{ key }}" checked>
                        <label data-toggle="tab" href="#tab-setting-design-type-{{ type['code'] }}-{{ key }}" for="input-setting-design-type-{{ type['code'] }}-{{ key }}" >{{ type['text'] }}</label>
                        {% else %} 
                        <input type="radio" name="design_accordion[{{ key }}][type]" value="{{ type['code'] }}" id="input-setting-design-type-{{ type['code'] }}-{{ key }}">
                        <label data-toggle="tab" href="#tab-setting-design-type-{{ type['code'] }}-{{ key }}" for="input-setting-design-type-{{ type['code'] }}-{{ key }}" >{{ type['text'] }}</label>
                        {% endif %} 
                      {% endfor %} 
                    </div>
                  </div>
                </div>
                <div class="tab-content">
                  <div id="tab-setting-design-type-html-{{ key }}" class="tab-pane {{ panel['type'] == 'html'?'active' }}">
                    <div class="form-group">
                      <label class="col-xs-3 control-label">{{ text_html }}</label>
                      <div class="col-xs-9">
                        <ul class="nav nav-tabs tab-dynamic">
                          {% for language in languages %}
                          <li><a href="#design-accordion-type-html-language-{{ language.language_id }}-{{ key }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                          {% endfor %}
                        </ul>
                        <div class="tab-content">
                          {% for language in languages %}
                          <div class="tab-pane" id="design-accordion-type-html-language-{{ language.language_id }}-{{ key }}">
                            <textarea name="design_accordion[{{ key }}][html][{{ language.language_id }}]" placeholder="{{ entry_html }}" id="input-design-accordion-type-html-language-{{ language.language_id }}-{{ key }}" data-dialogsInBody="1" data-ckeditor="{{ code }}" class="form-control">{{ panel['html'][language.language_id] ? panel['html'][language.language_id] }}</textarea>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab-setting-design-type-module-{{ key }}" class="tab-pane {{ panel['type'] == 'module'?'active' }}">
                    <div class="form-group">
                      <label class="col-xs-3 control-label" for="input-setting-design-type-module-{{ key }}">{{ text_module }}</label>
                      <div class="col-xs-9">
                        <select name="design_accordion[{{ key }}][module]" id="input-setting-design-type-module-{{ key }}" class="form-control">
                          <option value=""></option>
                          {% for extension in extensions %}
                          <optgroup label="{{ extension.name }}">
                          {% if not extension.module %}
                            {% if panel['module'] == extension.code %}
                            <option value="{{ extension.code }}" selected="">{{ extension.name }}</option>
                            {% else %}
                            <option value="{{ extension.code }}">{{ extension.name }}</option>
                            {% endif %}
                          {% else %}
                          {% for module in extension.module %}
                            {% if panel['module'] == module.code %}
                            <option value="{{ module.code }}" selected="">{{ module.name }}</option>
                            {% else %}
                            <option value="{{ module.code }}">{{ module.name }}</option>
                            {% endif %}
                          {% endfor %}
                          {% endif %}
                          </optgroup>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div id="tab-setting-design-type-widget-{{ key }}" class="tab-pane {{ panel['type'] == 'widget'?'active' }}">
                    <div class="form-group">
                      <label class="col-xs-3 control-label" for="input-setting-design-type-widget-{{ key }}">{{ text_widget }}</label>
                      <div class="col-xs-5">
                        <div class="input-group mz-widget">
                          <select name="design_accordion[{{ key }}][widget]" id="input-setting-design-type-widget-{{ key }}" class="form-control">
                            <option value=""></option>
                            {% for widget in widgets %}
                              {% if panel['widget'] == widget.code %}
                              <option value="{{ widget.code }}" selected="">{{ widget.name }}</option>
                              {% else %}
                              <option value="{{ widget.code }}">{{ widget.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <span class="input-group-btn">
                            <input id="input-setting-design-type-widget-data-{{ key }}" type="hidden" name="design_accordion[{{ key }}][widget_data]" value="{{ panel['widget_data'] }}" />
                            {% if panel['widget'] %}
                            <button type="button" class="btn btn-info" data-toggle="mz-widget" data-code="{{ panel['widget'] }}" data-target="#input-setting-design-type-widget-data-{{ key }}"><i class="fa fa-cog"></i></button>
                            {% else %}
                            <button type="button" class="btn btn-info disabled" data-toggle="mz-widget" data-code="{{ panel['widget'] }}" data-target="#input-setting-design-type-widget-data-{{ key }}" disabled><i class="fa fa-cog"></i></button>
                            {% endif %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab-setting-design-type-content-{{ key }}" class="tab-pane {{ panel['type'] == 'content'?'active' }}">
                    <div class="form-group">
                      <label class="col-xs-3 control-label" for="input-setting-design-type-content-{{ key }}">{{ text_content }}</label>
                      <div class="col-xs-5">
                        <div class="input-group content">
                          <select name="design_accordion[{{ key }}][content]" id="input-setting-design-type-content-{{ key }}" class="form-control">
                            <option value=""></option>
                            {% for content in contents %}
                              {% if panel['content'] == content.code %}
                              <option value="{{ content.code }}" selected="">{{ content.name }}</option>
                              {% else %}
                              <option value="{{ content.code }}">{{ content.name }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <span class="input-group-btn">
                            <input type="hidden" data-code="{{ panel['content'] }}" data-content_data="{{ panel['content_data'] }}" name="design_accordion[{{ key }}][content_data]" value="{{ panel['content_data'] }}" />
                            {% if panel['content'] %}
                            <button type="button" class="btn btn-info action-cog"><i class="fa fa-cog"></i></button>
                            {% else %}
                            <button type="button" class="btn btn-info disabled action-cog" disabled><i class="fa fa-cog"></i></button>
                            {% endif %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="tab-setting-design-type-content_builder-{{ key }}" class="tab-pane {{ panel['type'] == 'content_builder'?'active' }}">
                    <div class="form-group">
                      <label class="col-xs-3 control-label" for="input-setting-design-type-content-builder-{{ key }}">{{ text_content_builder }}</label>
                      <div class="col-xs-9">
                        <input type="text" name="design_accordion[{{ key }}][content_builder_name]" value="{{ panel['content_builder_name'] }}" data-panel_key="{{ key }}" placeholder="{{ help_content_builder }}" id="input-setting-design-type-content-builder-{{ key }}" class="form-control input-content-builder" />
                        <input id="input-setting-design-type-content-builder-id-{{ key }}" type="hidden" name="design_accordion[{{ key }}][content_builder_id]" value="{{ panel['content_builder_id'] }}"  />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% set panel_active_class = false %} 
            {% endfor %} 
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="button" id="button-design-add-panel" class="btn btn-primary"><i class="fa fa-plus"></i> {{ button_add_panel }}</button>
          <button type="button" id="button-design-remove-panel" class="btn btn-danger"><i class="fa fa-minus-circle"></i> {{ button_remove_panel }}</button>
        </div>
      </div>
    </div>
    <div id="tab-design-layout" class="tab-pane">
      <!--Auto close-->
      <div class="form-group">
        <label class="col-xs-3 control-label"><span data-toggle="tooltip" title="{{ help_auto_close }}">{{ entry_auto_close }}</span></label>
        <div class="col-xs-9">
          <div class="mz-switch-field">
            {% if (design_auto_close) %} 
            <input type="radio" name="design_auto_close" value="1" id="input-design-auto-close-enabled" checked>
            <label for="input-design-auto-close-enabled" >{{ text_enabled }}</label>
            <input type="radio" name="design_auto_close" value="0" id="input-design-auto-close-disabled">
            <label for="input-design-auto-close-disabled">{{ text_disabled }}</label>
            {% else %} 
            <input type="radio" name="design_auto_close" value="1" id="input-design-auto-close-enabled" >
            <label for="input-design-auto-close-enabled">{{ text_enabled }}</label>
            <input type="radio" name="design_auto_close" value="0" id="input-design-auto-close-disabled" checked>
            <label for="input-design-auto-close-disabled" >{{ text_disabled }}</label>
            {% endif %} 
          </div>
        </div>
      </div>

      <!--collapsed by default-->
      <div class="form-group">
        <label class="col-xs-3 control-label">{{ entry_collapsed }}</label>
        <div class="col-xs-9">
          <div class="mz-switch-field">
            {% if (design_collapsed) %} 
            <input type="radio" name="design_collapsed" value="1" id="input-design-collapsed-enabled" checked>
            <label for="input-design-collapsed-enabled" >{{ text_enabled }}</label>
            <input type="radio" name="design_collapsed" value="0" id="input-design-collapsed-disabled">
            <label for="input-design-collapsed-disabled">{{ text_disabled }}</label>
            {% else %} 
            <input type="radio" name="design_collapsed" value="1" id="input-design-collapsed-enabled" >
            <label for="input-design-collapsed-enabled">{{ text_enabled }}</label>
            <input type="radio" name="design_collapsed" value="0" id="input-design-collapsed-disabled" checked>
            <label for="input-design-collapsed-disabled" >{{ text_disabled }}</label>
            {% endif %} 
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="view/javascript/maza/ckeditor/ckeditor.js"></script>
<script>
// Tooltip
$('[data-toggle="tooltip"]').tooltip({placement: 'right'});
/**
 * Get HTML of Tab
 * @param int panel_key biggest index key of tab
 * @return jQuery object
 **/
function getTabHTML(panel_key){
    var html = '<li><a href="#design-tab-panel-' + panel_key +'" data-toggle="tab">{{ text_undefined }}</a></li>';
    return $(html);
}

function getTabContentHTML(panel_key){
    var html = '';
    
    html +=  '<div id="design-tab-panel-' + panel_key + '" class="tab-pane fade">';
    
      html += '<div class="form-group">'  + 
              '  <label class="col-xs-3 control-label">{{ entry_status }}</label>  '  + 
              '  <div class="col-xs-9">  '  + 
              '    <div class="mz-switch-field">  '  + 
              '      <input type="radio" name="design_accordion[' + panel_key + '][status]" value="1" id="input-design-panel-status-enabled-' + panel_key + '" >  '  + 
              '      <label for="input-design-panel-status-enabled-' + panel_key + '">{{ text_enabled }}</label>  '  + 
              '      <input type="radio" name="design_accordion[' + panel_key + '][status]" value="0" id="input-design-panel-status-disabled-' + panel_key + '" checked>  '  + 
              '      <label for="input-design-panel-status-disabled-' + panel_key + '" >{{ text_disabled }}</label>  '  + 
              '    </div>  '  + 
              '  </div>  '  + 
              '</div>  ';
      html += '<div class="form-group required">  '  + 
              '  <label class="col-xs-3 control-label">{{ entry_name }}</label>  '  + 
              '  <div class="col-xs-9">  '  + 
                  {% for language in languages %} 
              '    <div class="input-group inline"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>  '  + 
              '      <input class="form-control input_design_panel_name_{{ language['language_id'] }}" type="text" name="design_accordion[' + panel_key + '][name][{{ language['language_id'] }}]" value="" data-panel_key="' + panel_key + '" placeholder="{{ entry_name }}" >  '  + 
              '    </div>'  + 
                  {% endfor %} 
              '  </div>'  + 
              '</div>';
      
      html += '<div class="form-group">'+
              '  <label class="col-xs-3 control-label">{{ entry_icon }}</label>'+
              '  <div class="col-xs-9">'+
              '    <ul class="nav nav-tabs">'+
              '      <li class="active"><a href="#tab-design-icon-image-' + panel_key + '" data-meta="image" data-toggle="tab">{{ tab_image }}</a></li>'+
              '      <li><a href="#tab-design-icon-svg-' + panel_key + '" data-meta="image" data-toggle="tab">{{ tab_svg }}</a></li>'+
              '      <li><a href="#tab-design-icon-font-' + panel_key + '" data-meta="font" data-toggle="tab">{{ tab_font }}</a></li>'+
              '    </ul>'+
              '    <div class="tab-content">'+
              '      <div class="tab-pane active" id="tab-design-icon-image-' + panel_key + '">'+
              '        <div class="el-group">'+
                      {% for language in languages %} 
              '          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>'+
              '          <div class="el-item">'+
              '            <a href="" id="design-thumb-icon-image{{ language['language_id'] }}-' + panel_key + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder_image }}" alt="" title="" data-placeholder="{{ placeholder_image }}" /></a><input type="hidden" name="design_accordion[' + panel_key + '][icon_image][{{ language['language_id'] }}]" value="" id="input-design-icon-image{{ language['language_id'] }}-' + panel_key + '" />'+
              '          </div>'+
                      {% endfor %} 
              '        </div>'+
              '      </div>'+
              '      <div class="tab-pane" id="tab-design-icon-svg-' + panel_key + '">'+
              '        <div class="el-group">'+
                      {% for language in languages %} 
              '          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>'+
              '          <div class="el-item">'+
              '            <a href="" id="design-thumb-icon-svg{{ language['language_id'] }}-' + panel_key + '" data-toggle="svg" class="img-thumbnail"><img width="100" height="100" src="{{ placeholder_svg }}" alt="" title="" data-placeholder="{{ placeholder_svg }}" /></a><input type="hidden" name="design_accordion[' + panel_key + '][icon_svg][{{ language['language_id'] }}]" value="" id="input-design-icon-svg{{ language['language_id'] }}-' + panel_key + '" />'+
              '          </div>'+
                      {% endfor %} 
              '        </div>'+
              '      </div>'+
              '      <div class="tab-pane" id="tab-design-icon-font-' + panel_key + '">'+
              '        <div class="el-group">'+
                      {% for language in languages %} 
              '          <span class="el-item-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>'+
              '          <div class="el-item">'+
              '            <a href="" id="design-thumb-icon-font{{ language['language_id'] }}-' + panel_key + '" data-toggle="font" class="img-thumbnail icon-thumb"><i class="{{ placeholder_font }}" data-placeholder="{{ placeholder_font }}"></i></a> <input type="hidden" name="design_accordion[' + panel_key + '][icon_font][{{ language['language_id'] }}]" value="" id="input-design-icon-font{{ language['language_id'] }}-' + panel_key + '" />'+
              '          </div>'+
                      {% endfor %} 
              '        </div>'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '</div>';
      
      html += '<div class="form-group required">  '  + 
              '  <label class="col-xs-3 control-label" for="input-design-sort-order-' + panel_key + '">{{ entry_sort_order }}</label>  '  + 
              '  <div class="col-xs-9">  '  + 
              '    <input class="form-control" id="input-design-sort-order-' + panel_key + '" placeholder="{{ entry_sort_order }}" type="text" name="design_accordion[' + panel_key + '][sort_order]" value="0" >  '  + 
              '  </div>  '  + 
              '</div>  ';
      
      html += '<div class="form-group">'+
              '  <label class="col-xs-3 control-label">{{ entry_type }}</label>'+
              '  <div class="col-xs-9">'+
              '    <div class="mz-switch-field">'+
                    {% for type in types %}
                      {% if ('html' == type['code']) %}
              '        <input type="radio" name="design_accordion[' + panel_key + '][type]" value="{{ type['code'] }}" id="input-setting-design-type-{{ type['code'] }}-' + panel_key + '" checked>'+
              '        <label data-toggle="tab" href="#tab-setting-design-type-{{ type['code'] }}-' + panel_key + '" for="input-setting-design-type-{{ type['code'] }}-' + panel_key + '" >{{ type['text'] }}</label>'+
                      {% else %}
              '        <input type="radio" name="design_accordion[' + panel_key + '][type]" value="{{ type['code'] }}" id="input-setting-design-type-{{ type['code'] }}-' + panel_key + '">'+
              '        <label data-toggle="tab" href="#tab-setting-design-type-{{ type['code'] }}-' + panel_key + '" for="input-setting-design-type-{{ type['code'] }}-' + panel_key + '" >{{ type['text'] }}</label>'+
                      {% endif %}
                    {% endfor %}
              '    </div>'+
              '  </div>'+
              '</div>';

      html += '<div class="tab-content">'+
              '  <div id="tab-setting-design-type-html-' + panel_key + '" class="tab-pane active">'+
              '    <div class="form-group">'+
              '      <label class="col-xs-3 control-label">{{ text_html }}</label>'+
              '      <div class="col-xs-9">'+
              '        <ul class="nav nav-tabs tab-dynamic">'+
                        {% for language in languages %}
              '          <li><a href="#design-accordion-type-html-language-{{ language.language_id }}-' + panel_key + '" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>'+
                        {% endfor %}
              '        </ul>'+
              '        <div class="tab-content">'+
                        {% for language in languages %}
              '          <div class="tab-pane" id="design-accordion-type-html-language-{{ language.language_id }}-' + panel_key + '">'+
              '            <textarea name="design_accordion[' + panel_key + '][html][{{ language.language_id }}]" placeholder="{{ entry_html }}" id="input-design-accordion-type-html-language-{{ language.language_id }}-' + panel_key + '" data-dialogsInBody="true" data-ckeditor="{{ code }}" class="form-control"></textarea>'+
              '          </div>'+
                        {% endfor %}
              '        </div>'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '  <div id="tab-setting-design-type-module-' + panel_key + '" class="tab-pane">'+
              '    <div class="form-group">'+
              '      <label class="col-xs-3 control-label" for="input-setting-design-type-module-' + panel_key + '">{{ text_module }}</label>'+
              '      <div class="col-xs-9">'+
              '        <select name="design_accordion[' + panel_key + '][module]" id="input-setting-design-type-module-' + panel_key + '" class="form-control">'+
              '          <option value=""></option>'+
                        {% for extension in extensions %}
              '          <optgroup label="{{ extension.name }}">'+
                        {% if not extension.module %}
              '            <option value="{{ extension.code }}">{{ extension.name }}</option>'+
                        {% else %}
                        {% for module in extension.module %}
              '            <option value="{{ module.code }}">{{ module.name }}</option>'+
                        {% endfor %}
                        {% endif %}
              '          </optgroup>'+
                        {% endfor %}
              '        </select>'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '  <div id="tab-setting-design-type-widget-' + panel_key + '" class="tab-pane">'+
              '    <div class="form-group">'+
              '      <label class="col-xs-3 control-label" for="input-setting-design-type-widget-' + panel_key + '">{{ text_widget }}</label>'+
              '      <div class="col-xs-5">'+
              '        <div class="input-group mz-widget">'+
              '          <select name="design_accordion[' + panel_key + '][widget]" id="input-setting-design-type-widget-' + panel_key + '" class="form-control">'+
              '            <option value=""></option>'+
                          {% for widget in widgets %}
              '              <option value="{{ widget.code }}">{{ widget.name }}</option>'+
                          {% endfor %}
              '          </select>'+
              '          <span class="input-group-btn">'+
              '            <input id="input-setting-design-type-widget-data-' + panel_key + '" type="hidden" name="design_accordion[' + panel_key + '][widget_data]" value="" />'+
              '            <button type="button" data-toggle="mz-widget" data-code="" data-target="#input-setting-design-type-widget-data-' + panel_key + '" class="btn btn-info disabled" disabled><i class="fa fa-cog"></i></button>'+
              '          </span>'+
              '        </div>'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '  <div id="tab-setting-design-type-content-' + panel_key + '" class="tab-pane">'+
              '    <div class="form-group">'+
              '      <label class="col-xs-3 control-label" for="input-setting-design-type-content-' + panel_key + '">{{ text_content }}</label>'+
              '      <div class="col-xs-5">'+
              '        <div class="input-group content">'+
              '          <select name="design_accordion[' + panel_key + '][content]" id="input-setting-design-type-content-' + panel_key + '" class="form-control">'+
              '            <option value=""></option>'+
                          {% for content in contents %}
              '              <option value="{{ content.code }}">{{ content.name }}</option>'+
                          {% endfor %}
              '          </select>'+
              '          <span class="input-group-btn">'+
              '            <input type="hidden" data-code="" data-content_data="" name="design_accordion[' + panel_key + '][content_data]" value="" />'+
              '            <button type="button" class="btn btn-info disabled action-cog" disabled><i class="fa fa-cog"></i></button>'+
              '          </span>'+
              '        </div>'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '  <div id="tab-setting-design-type-content_builder-' + panel_key + '" class="tab-pane">'+
              '    <div class="form-group">'+
              '      <label class="col-xs-3 control-label" for="input-setting-design-type-content-builder-' + panel_key + '">{{ text_content_builder }}</label>'+
              '      <div class="col-xs-9">'+
              '        <input type="text" name="design_accordion[' + panel_key + '][content_builder_name]" value="" data-panel_key="' + panel_key + '" placeholder="{{ help_content_builder }}" id="input-setting-design-type-content-builder-' + panel_key + '" class="form-control input-content-builder" />'+
              '        <input id="input-setting-design-type-content-builder-id-' + panel_key + '" type="hidden" name="design_accordion[' + panel_key + '][content_builder_id]" value=""  />'+
              '      </div>'+
              '    </div>'+
              '  </div>'+
              '</div>';
      
    html += '</div>'; 
    
    return html;
}

var panel_key = {{ panel_key }};

// add tabs
$('#button-design-add-panel').on('click', function(){
    // increase key value by one
    panel_key = panel_key + 1;
    
    // Add tab
    $('#design-tab-panel').append(getTabHTML(panel_key));
    
    // Add tab content
    $('#design-tab-panel-content').append(getTabContentHTML(panel_key));
    
    // Initilalise tab javascript
    initTabContent($('#design-tab-panel-' + panel_key));
    
    // Active tab in case of only one tab available
    if($('#design-tab-panel li').length == 1){
        $('#design-tab-panel a:first').tab('show');
    }
});

// Remove tab
$('#button-design-remove-panel').on('click', function(){
    $('#design-tab-panel>.active, #design-tab-panel-content>.tab-pane.active').remove();
    $('#design-tab-panel a:first').tab('show');
});

// change tab name
$('#design-tab-panel-content').delegate('.input_design_panel_name_{{ language_id }}', 'change', function(){
    $('a[href="#design-tab-panel-' + $(this).data('panel_key') + '"]').text($(this).val().substring(0, 20));
});

// initialise all tab content
initTabContent('#design-tab-panel-content');

/**
 * initialise Javascript to tab content
 * @param {String} tab_content tab content selector
 * */
function initTabContent(tab_content){
    InitJsGlobal(tab_content);
    
    // Tooltip
    $(tab_content).find('[data-toggle="tooltip"]').tooltip();
    
    // Content
    $(tab_content).find('.input-content-builder').autocomplete({
            'source': function(request, response) {
                    $.ajax({
                            url: 'index.php?route=extension/maza/content_builder/autocomplete&user_token={{ user_token }}{{ skip_content_id?'&skip_content_id=' ~ skip_content_id }}&filter_name=' +  encodeURIComponent(request),
                            dataType: 'json',
                            success: function(json) {
                                    response($.map(json, function(item) {
                                            return {
                                                    label: item['name'],
                                                    value: item['content_id']
                                            };
                                    }));
                            }
                    });
            },
            'select': function(item) {
                    $(this).val(item['label']);
                    $('#input-setting-design-type-content-builder-id-' + $(this).data('panel_key')).val(item['value']);
            }
    });
    
    // content
    $(tab_content).find('.content').each(function(){
        var content = $(this);
        var btn_setting = content.find('.action-cog');
        var input = content.find('input');
        
        $(this).find('select').change(function(){
            input.data('code', $(this).val()).data('content_data', '').val('');
            
            if($(this).val()){
                btn_setting.removeClass('disabled').prop('disabled', 0);
            } else {
                btn_setting.addClass('disabled').prop('disabled', 1);
            }
        });
        
        btn_setting.click(function(){
            $('#setting-content').one('show.bs.modal', function(){
                $('#setting-design').css('z-index', 1);
            });
            $('#setting-content').one('hide.bs.modal', function(){
                $('#setting-design').css('z-index', 1050);
            });
            $('#setting-content').one('save', function(){
                input.val(input.data('content_data'));
            });
            
            $('#setting-content').data('content', input).modal('show');
        });
    });
}     
</script>
</form>