{{ header }}{{ column_left }} 
{{ mz_column_left }}
{{ mz_header }}
<div id="content" class="mz-content">
  
  <!-- Alert message -->
  {% if (success is defined) %} 
    <div class="alert alert-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ success }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  {% if (warning is defined) %} 
    <div class="alert alert-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ warning }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
  {% endif %} 
  
  <!-- Form -->
  <form action="{{ action }}" class="form-horizontal" enctype="multipart/form-data" id="form-code" method="post">
    <div class="tab-content">
      <!--Custom Header-->
      <div id="menu-header" class="tab-pane fade active in">
        <div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ help_header }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
        
        <ul class="nav nav-tabs mz-panel-nav-tabs">
          <li class="active"><a href="#tab-header-skin" data-toggle="tab">{{ text_skin }}</a></li>
          <li><a href="#tab-header-theme" data-toggle="tab">{{ text_theme }}</a></li>
          <li><a href="#tab-header-global" data-toggle="tab">{{ text_global }}</a></li>
        </ul>
        <div class="panel mz-panel-default">
          <div class="panel-body tab-content">
            
            <!--Custom header skin-->
            <div id="tab-header-skin" class="tab-pane fade active in">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-header-skin-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_header_skin_status) %} 
                    <input type="radio" name="skin[code_header_skin_status]" value="1" id="input-header-skin-status-enabled" checked>
                    <label for="input-header-skin-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_header_skin_status]" value="0" id="input-header-skin-status-disabled">
                    <label for="input-header-skin-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="skin[code_header_skin_status]" value="1" id="input-header-skin-status-enabled" >
                    <label for="input-header-skin-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_header_skin_status]" value="0" id="input-header-skin-status-disabled" checked>
                    <label for="input-header-skin-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="header_skin_code" value="{{ header_skin_code }}" id="input-header-skin-code" />
              <pre id="input-header-skin-code-editor" class="form-control large" style="min-height: 400px">{{ header_skin_code }}</pre>
            </div>
            
            <!--Custom header theme-->
            <div id="tab-header-theme" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-header-theme-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_header_theme_status) %} 
                    <input type="radio" name="theme[code_header_theme_status]" value="1" id="input-header-theme-status-enabled" checked>
                    <label for="input-header-theme-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_header_theme_status]" value="0" id="input-header-theme-status-disabled">
                    <label for="input-header-theme-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="theme[code_header_theme_status]" value="1" id="input-header-theme-status-enabled" >
                    <label for="input-header-theme-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_header_theme_status]" value="0" id="input-header-theme-status-disabled" checked>
                    <label for="input-header-theme-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="header_theme_code" value="{{ header_theme_code }}" id="input-header-theme-code" />
              <pre id="input-header-theme-code-editor" class="form-control large" style="min-height: 400px">{{ header_theme_code }}</pre>
            </div>
            
            <!--Custom header global-->
            <div id="tab-header-global" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-header-global-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (mz_code_header_global_status) %} 
                    <input type="radio" name="global[mz_code_header_global_status]" value="1" id="input-header-global-status-enabled" checked>
                    <label for="input-header-global-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_header_global_status]" value="0" id="input-header-global-status-disabled">
                    <label for="input-header-global-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="global[mz_code_header_global_status]" value="1" id="input-header-global-status-enabled" >
                    <label for="input-header-global-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_header_global_status]" value="0" id="input-header-global-status-disabled" checked>
                    <label for="input-header-global-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="header_global_code" value="{{ header_global_code }}" id="input-header-global-code" />
              <pre id="input-header-global-code-editor" class="form-control large" style="min-height: 400px">{{ header_global_code }}</pre>
            </div>
          </div>
        </div>
      </div>
      
      <!--Custom Footer-->
      <div id="menu-footer" class="tab-pane fade">
        <div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ help_footer }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
        
        <ul class="nav nav-tabs mz-panel-nav-tabs">
          <li class="active"><a href="#tab-footer-skin" data-toggle="tab">{{ text_skin }}</a></li>
          <li><a href="#tab-footer-theme" data-toggle="tab">{{ text_theme }}</a></li>
          <li><a href="#tab-footer-global" data-toggle="tab">{{ text_global }}</a></li>
        </ul>
        <div class="panel mz-panel-default">
          <div class="panel-body tab-content">
            
            <!--Custom footer skin-->
            <div id="tab-footer-skin" class="tab-pane fade active in">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-footer-skin-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_footer_skin_status) %} 
                    <input type="radio" name="skin[code_footer_skin_status]" value="1" id="input-footer-skin-status-enabled" checked>
                    <label for="input-footer-skin-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_footer_skin_status]" value="0" id="input-footer-skin-status-disabled">
                    <label for="input-footer-skin-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="skin[code_footer_skin_status]" value="1" id="input-footer-skin-status-enabled" >
                    <label for="input-footer-skin-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_footer_skin_status]" value="0" id="input-footer-skin-status-disabled" checked>
                    <label for="input-footer-skin-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="footer_skin_code" value="{{ footer_skin_code }}" id="input-footer-skin-code" />
              <pre id="input-footer-skin-code-editor" class="form-control large" style="min-height: 400px">{{ footer_skin_code }}</pre>
            </div>
            
            <!--Custom footer theme-->
            <div id="tab-footer-theme" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-footer-theme-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_footer_theme_status) %} 
                    <input type="radio" name="theme[code_footer_theme_status]" value="1" id="input-footer-theme-status-enabled" checked>
                    <label for="input-footer-theme-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_footer_theme_status]" value="0" id="input-footer-theme-status-disabled">
                    <label for="input-footer-theme-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="theme[code_footer_theme_status]" value="1" id="input-footer-theme-status-enabled" >
                    <label for="input-footer-theme-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_footer_theme_status]" value="0" id="input-footer-theme-status-disabled" checked>
                    <label for="input-footer-theme-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="footer_theme_code" value="{{ footer_theme_code }}" id="input-footer-theme-code" />
              <pre id="input-footer-theme-code-editor" class="form-control large" style="min-height: 400px">{{ footer_theme_code }}</pre>
            </div>
            
            <!--Custom footer global-->
            <div id="tab-footer-global" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-footer-global-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (mz_code_footer_global_status) %} 
                    <input type="radio" name="global[mz_code_footer_global_status]" value="1" id="input-footer-global-status-enabled" checked>
                    <label for="input-footer-global-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_footer_global_status]" value="0" id="input-footer-global-status-disabled">
                    <label for="input-footer-global-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="global[mz_code_footer_global_status]" value="1" id="input-footer-global-status-enabled" >
                    <label for="input-footer-global-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_footer_global_status]" value="0" id="input-footer-global-status-disabled" checked>
                    <label for="input-footer-global-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="footer_global_code" value="{{ footer_global_code }}" id="input-footer-global-code" />
              <pre id="input-footer-global-code-editor" class="form-control large" style="min-height: 400px">{{ footer_global_code }}</pre>
            </div>
          </div>
        </div>
      </div>
      
      <!--Custom CSS-->
      <div id="menu-css" class="tab-pane fade">
        <div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ help_css }} <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times-circle" aria-hidden="true"></i></a></div>
          
        <ul class="nav nav-tabs mz-panel-nav-tabs">
          <li class="active"><a href="#tab-css-skin" data-toggle="tab">{{ text_skin }}</a></li>
          <li><a href="#tab-css-theme" data-toggle="tab">{{ text_theme }}</a></li>
          <li><a href="#tab-css-global" data-toggle="tab">{{ text_global }}</a></li>
        </ul>
        <div class="panel mz-panel-default">
          <div class="panel-body tab-content">
            
            <!--Custom css skin-->
            <div id="tab-css-skin" class="tab-pane fade active in">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-css-skin-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_css_skin_status) %} 
                    <input type="radio" name="skin[code_css_skin_status]" value="1" id="input-css-skin-status-enabled" checked>
                    <label for="input-css-skin-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_css_skin_status]" value="0" id="input-css-skin-status-disabled">
                    <label for="input-css-skin-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="skin[code_css_skin_status]" value="1" id="input-css-skin-status-enabled" >
                    <label for="input-css-skin-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_css_skin_status]" value="0" id="input-css-skin-status-disabled" checked>
                    <label for="input-css-skin-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="css_skin_code" value="{{ css_skin_code }}" id="input-css-skin-code" />
              <pre id="input-css-skin-code-editor" class="form-control large" style="min-height: 400px">{{ css_skin_code }}</pre>
            </div>
            
            <!--Custom css theme-->
            <div id="tab-css-theme" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-css-theme-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_css_theme_status) %} 
                    <input type="radio" name="theme[code_css_theme_status]" value="1" id="input-css-theme-status-enabled" checked>
                    <label for="input-css-theme-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_css_theme_status]" value="0" id="input-css-theme-status-disabled">
                    <label for="input-css-theme-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="theme[code_css_theme_status]" value="1" id="input-css-theme-status-enabled" >
                    <label for="input-css-theme-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_css_theme_status]" value="0" id="input-css-theme-status-disabled" checked>
                    <label for="input-css-theme-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="css_theme_code" value="{{ css_theme_code }}" id="input-css-theme-code" />
              <pre id="input-css-theme-code-editor" class="form-control large" style="min-height: 400px">{{ css_theme_code }}</pre>
            </div>
            
            <!--Custom css global-->
            <div id="tab-css-global" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-css-global-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (mz_code_css_global_status) %} 
                    <input type="radio" name="global[mz_code_css_global_status]" value="1" id="input-css-global-status-enabled" checked>
                    <label for="input-css-global-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_css_global_status]" value="0" id="input-css-global-status-disabled">
                    <label for="input-css-global-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="global[mz_code_css_global_status]" value="1" id="input-css-global-status-enabled" >
                    <label for="input-css-global-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_css_global_status]" value="0" id="input-css-global-status-disabled" checked>
                    <label for="input-css-global-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="css_global_code" value="{{ css_global_code }}" id="input-css-global-code" />
              <pre id="input-css-global-code-editor" class="form-control large" style="min-height: 400px">{{ css_global_code }}</pre>
            </div>
          </div>
        </div>
      </div>
      
      <!--Custom Javascript-->
      <div id="menu-javascript" class="tab-pane fade">
        <ul class="nav nav-tabs mz-panel-nav-tabs">
          <li class="active"><a href="#tab-javascript-skin" data-toggle="tab">{{ text_skin }}</a></li>
          <li><a href="#tab-javascript-theme" data-toggle="tab">{{ text_theme }}</a></li>
          <li><a href="#tab-javascript-global" data-toggle="tab">{{ text_global }}</a></li>
        </ul>
        <div class="panel mz-panel-default">
          <div class="panel-body tab-content">
            
            <!--Custom javascript skin-->
            <div id="tab-javascript-skin" class="tab-pane fade active in">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-javascript-skin-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_javascript_skin_status) %} 
                    <input type="radio" name="skin[code_javascript_skin_status]" value="1" id="input-javascript-skin-status-enabled" checked>
                    <label for="input-javascript-skin-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_javascript_skin_status]" value="0" id="input-javascript-skin-status-disabled">
                    <label for="input-javascript-skin-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="skin[code_javascript_skin_status]" value="1" id="input-javascript-skin-status-enabled" >
                    <label for="input-javascript-skin-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="skin[code_javascript_skin_status]" value="0" id="input-javascript-skin-status-disabled" checked>
                    <label for="input-javascript-skin-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="javascript_skin_code" value="{{ javascript_skin_code }}" id="input-javascript-skin-code" />
              <pre id="input-javascript-skin-code-editor" class="form-control large" style="min-height: 400px">{{ javascript_skin_code }}</pre>
            </div>
            
            <!--Custom javascript theme-->
            <div id="tab-javascript-theme" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-javascript-theme-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (code_javascript_theme_status) %} 
                    <input type="radio" name="theme[code_javascript_theme_status]" value="1" id="input-javascript-theme-status-enabled" checked>
                    <label for="input-javascript-theme-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_javascript_theme_status]" value="0" id="input-javascript-theme-status-disabled">
                    <label for="input-javascript-theme-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="theme[code_javascript_theme_status]" value="1" id="input-javascript-theme-status-enabled" >
                    <label for="input-javascript-theme-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="theme[code_javascript_theme_status]" value="0" id="input-javascript-theme-status-disabled" checked>
                    <label for="input-javascript-theme-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="javascript_theme_code" value="{{ javascript_theme_code }}" id="input-javascript-theme-code" />
              <pre id="input-javascript-theme-code-editor" class="form-control large" style="min-height: 400px">{{ javascript_theme_code }}</pre>
            </div>
            
            <!--Custom javascript global-->
            <div id="tab-javascript-global" class="tab-pane fade">
                
              <!-- Status-->
              <div class="form-group">
                <label class="col-xs-3 control-label" for="input-javascript-global-status">{{ entry_status }}</label>
                <div class="col-xs-9">
                  <div class="mz-switch-field">
                    {% if (mz_code_javascript_global_status) %} 
                    <input type="radio" name="global[mz_code_javascript_global_status]" value="1" id="input-javascript-global-status-enabled" checked>
                    <label for="input-javascript-global-status-enabled" >{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_javascript_global_status]" value="0" id="input-javascript-global-status-disabled">
                    <label for="input-javascript-global-status-disabled">{{ text_disabled }}</label>
                    {% else %} 
                    <input type="radio" name="global[mz_code_javascript_global_status]" value="1" id="input-javascript-global-status-enabled" >
                    <label for="input-javascript-global-status-enabled">{{ text_enabled }}</label>
                    <input type="radio" name="global[mz_code_javascript_global_status]" value="0" id="input-javascript-global-status-disabled" checked>
                    <label for="input-javascript-global-status-disabled" >{{ text_disabled }}</label>
                    {% endif %} 
                  </div>
                </div>
              </div>
              
              <!--Code editor-->
              <input type="hidden" name="javascript_global_code" value="{{ javascript_global_code }}" id="input-javascript-global-code" />
              <pre id="input-javascript-global-code-editor" class="form-control large" style="min-height: 400px">{{ javascript_global_code }}</pre>
            </div>
          </div>
        </div>
      </div>
      
      <!--Custom Asset-->
      <div id="menu-asset" class="tab-pane fade">
          
        <!-- stylesheet -->
        <div class="panel mz-panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">{{ text_stylesheet }}</span>
            <ul class="pull-right nav nav-tabs mz-nav-sandwich-tab">
              <li class="active"><a href="#tab-asset-stylesheet-skin" data-toggle="tab">{{ text_skin }}</a></li>
              <li><a href="#tab-asset-stylesheet-theme" data-toggle="tab">{{ text_theme }}</a></li>
              <li><a href="#tab-asset-stylesheet-global" data-toggle="tab">{{ text_global }}</a></li>
            </ul>
          </div>
          <div class="panel-body tab-content">
              
            <!--Stylesheet skin-->
            <div id="tab-asset-stylesheet-skin" class="tab-pane active">
              
              <!--Style sheet list-->
              <table id="table-asset-skin-stylesheet-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_css_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set skin_stylesheet_index = 0 %}
                  {% for stylesheet in code_asset_skin_stylesheet %} 
                    <tr>
                      <td><input type="hidden" name="skin[code_asset_skin_stylesheet][{{ skin_stylesheet_index }}][url]" value="{{ stylesheet['url'] }}" />{{ stylesheet['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (stylesheet['status']) %} 
                      <input type="radio" name="skin[code_asset_skin_stylesheet][{{ skin_stylesheet_index }}][status]" value="1" id="input-asset-skin-stylesheet-status-enabled-{{ skin_stylesheet_index }}" checked>
                      <label for="input-asset-skin-stylesheet-status-enabled-{{ skin_stylesheet_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="skin[code_asset_skin_stylesheet][{{ skin_stylesheet_index }}][status]" value="0" id="input-asset-skin-stylesheet-status-disabled-{{ skin_stylesheet_index }}">
                      <label for="input-asset-skin-stylesheet-status-disabled-{{ skin_stylesheet_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="skin[code_asset_skin_stylesheet][{{ skin_stylesheet_index }}][status]" value="1" id="input-asset-skin-stylesheet-status-enabled-{{ skin_stylesheet_index }}" >
                      <label for="input-asset-skin-stylesheet-status-enabled-{{ skin_stylesheet_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="skin[code_asset_skin_stylesheet][{{ skin_stylesheet_index }}][status]" value="0" id="input-asset-skin-stylesheet-status-disabled-{{ skin_stylesheet_index }}" checked>
                      <label for="input-asset-skin-stylesheet-status-disabled-{{ skin_stylesheet_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set skin_stylesheet_index = skin_stylesheet_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add stylesheet-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-skin-stylesheet-url">{{ entry_css_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-skin-stylesheet-url" type="text" placeholder="{{ entry_css_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-skin-stylesheet-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Stylesheet theme-->
            <div id="tab-asset-stylesheet-theme" class="tab-pane">
              
              <!--Style sheet list-->
              <table id="table-asset-theme-stylesheet-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_css_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set theme_stylesheet_index = 0 %}
                  {% for stylesheet in code_asset_theme_stylesheet %} 
                    <tr>
                      <td><input type="hidden" name="theme[code_asset_theme_stylesheet][{{ theme_stylesheet_index }}][url]" value="{{ stylesheet['url'] }}" />{{ stylesheet['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (stylesheet['status']) %} 
                      <input type="radio" name="theme[code_asset_theme_stylesheet][{{ theme_stylesheet_index }}][status]" value="1" id="input-asset-theme-stylesheet-status-enabled-{{ theme_stylesheet_index }}" checked>
                      <label for="input-asset-theme-stylesheet-status-enabled-{{ theme_stylesheet_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="theme[code_asset_theme_stylesheet][{{ theme_stylesheet_index }}][status]" value="0" id="input-asset-theme-stylesheet-status-disabled-{{ theme_stylesheet_index }}">
                      <label for="input-asset-theme-stylesheet-status-disabled-{{ theme_stylesheet_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="theme[code_asset_theme_stylesheet][{{ theme_stylesheet_index }}][status]" value="1" id="input-asset-theme-stylesheet-status-enabled-{{ theme_stylesheet_index }}" >
                      <label for="input-asset-theme-stylesheet-status-enabled-{{ theme_stylesheet_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="theme[code_asset_theme_stylesheet][{{ theme_stylesheet_index }}][status]" value="0" id="input-asset-theme-stylesheet-status-disabled-{{ theme_stylesheet_index }}" checked>
                      <label for="input-asset-theme-stylesheet-status-disabled-{{ theme_stylesheet_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set theme_stylesheet_index = theme_stylesheet_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add stylesheet-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-theme-stylesheet-url">{{ entry_css_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-theme-stylesheet-url" type="text" placeholder="{{ entry_css_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-theme-stylesheet-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Stylesheet global-->
            <div id="tab-asset-stylesheet-global" class="tab-pane">
              
              <!--Style sheet list-->
              <table id="table-asset-global-stylesheet-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_css_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set global_stylesheet_index = 0 %}
                  {% for stylesheet in mz_code_asset_global_stylesheet %} 
                    <tr>
                      <td><input type="hidden" name="global[mz_code_asset_global_stylesheet][{{ global_stylesheet_index }}][url]" value="{{ stylesheet['url'] }}" />{{ stylesheet['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (stylesheet['status']) %} 
                      <input type="radio" name="global[mz_code_asset_global_stylesheet][{{ global_stylesheet_index }}][status]" value="1" id="input-asset-global-stylesheet-status-enabled-{{ global_stylesheet_index }}" checked>
                      <label for="input-asset-global-stylesheet-status-enabled-{{ global_stylesheet_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="global[mz_code_asset_global_stylesheet][{{ global_stylesheet_index }}][status]" value="0" id="input-asset-global-stylesheet-status-disabled-{{ global_stylesheet_index }}">
                      <label for="input-asset-global-stylesheet-status-disabled-{{ global_stylesheet_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="global[mz_code_asset_global_stylesheet][{{ global_stylesheet_index }}][status]" value="1" id="input-asset-global-stylesheet-status-enabled-{{ global_stylesheet_index }}" >
                      <label for="input-asset-global-stylesheet-status-enabled-{{ global_stylesheet_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="global[mz_code_asset_global_stylesheet][{{ global_stylesheet_index }}][status]" value="0" id="input-asset-global-stylesheet-status-disabled-{{ global_stylesheet_index }}" checked>
                      <label for="input-asset-global-stylesheet-status-disabled-{{ global_stylesheet_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set global_stylesheet_index = global_stylesheet_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add stylesheet-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-global-stylesheet-url">{{ entry_css_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-global-stylesheet-url" type="text" placeholder="{{ entry_css_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-global-stylesheet-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Javascript-->
        <div class="panel mz-panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">{{ text_javascript }}</span>
            <ul class="pull-right nav nav-tabs mz-nav-sandwich-tab">
              <li class="active"><a href="#tab-asset-javascript-skin" data-toggle="tab">{{ text_skin }}</a></li>
              <li><a href="#tab-asset-javascript-theme" data-toggle="tab">{{ text_theme }}</a></li>
              <li><a href="#tab-asset-javascript-global" data-toggle="tab">{{ text_global }}</a></li>
            </ul>
          </div>
          <div class="panel-body tab-content">
              
            <!--Javascript skin-->
            <div id="tab-asset-javascript-skin" class="tab-pane active">
              
              <!--Javascript list-->
              <table id="table-asset-skin-javascript-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_js_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set skin_javascript_index = 0 %}
                  {% for javascript in code_asset_skin_javascript %} 
                    <tr>
                      <td><input type="hidden" name="skin[code_asset_skin_javascript][{{ skin_javascript_index }}][url]" value="{{ javascript['url'] }}" />{{ javascript['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (javascript['status']) %} 
                      <input type="radio" name="skin[code_asset_skin_javascript][{{ skin_javascript_index }}][status]" value="1" id="input-asset-skin-javascript-status-enabled-{{ skin_javascript_index }}" checked>
                      <label for="input-asset-skin-javascript-status-enabled-{{ skin_javascript_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="skin[code_asset_skin_javascript][{{ skin_javascript_index }}][status]" value="0" id="input-asset-skin-javascript-status-disabled-{{ skin_javascript_index }}">
                      <label for="input-asset-skin-javascript-status-disabled-{{ skin_javascript_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="skin[code_asset_skin_javascript][{{ skin_javascript_index }}][status]" value="1" id="input-asset-skin-javascript-status-enabled-{{ skin_javascript_index }}" >
                      <label for="input-asset-skin-javascript-status-enabled-{{ skin_javascript_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="skin[code_asset_skin_javascript][{{ skin_javascript_index }}][status]" value="0" id="input-asset-skin-javascript-status-disabled-{{ skin_javascript_index }}" checked>
                      <label for="input-asset-skin-javascript-status-disabled-{{ skin_javascript_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set skin_javascript_index = skin_javascript_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add javascript-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-skin-javascript-url">{{ entry_js_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-skin-javascript-url" type="text" placeholder="{{ entry_js_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-skin-javascript-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Javascript theme-->
            <div id="tab-asset-javascript-theme" class="tab-pane">
              
              <!--Javascript list-->
              <table id="table-asset-theme-javascript-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_js_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set theme_javascript_index = 0 %}
                  {% for javascript in code_asset_theme_javascript %} 
                    <tr>
                      <td><input type="hidden" name="theme[code_asset_theme_javascript][{{ theme_javascript_index }}][url]" value="{{ javascript['url'] }}" />{{ javascript['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (javascript['status']) %} 
                      <input type="radio" name="theme[code_asset_theme_javascript][{{ theme_javascript_index }}][status]" value="1" id="input-asset-theme-javascript-status-enabled-{{ theme_javascript_index }}" checked>
                      <label for="input-asset-theme-javascript-status-enabled-{{ theme_javascript_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="theme[code_asset_theme_javascript][{{ theme_javascript_index }}][status]" value="0" id="input-asset-theme-javascript-status-disabled-{{ theme_javascript_index }}">
                      <label for="input-asset-theme-javascript-status-disabled-{{ theme_javascript_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="theme[code_asset_theme_javascript][{{ theme_javascript_index }}][status]" value="1" id="input-asset-theme-javascript-status-enabled-{{ theme_javascript_index }}" >
                      <label for="input-asset-theme-javascript-status-enabled-{{ theme_javascript_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="theme[code_asset_theme_javascript][{{ theme_javascript_index }}][status]" value="0" id="input-asset-theme-javascript-status-disabled-{{ theme_javascript_index }}" checked>
                      <label for="input-asset-theme-javascript-status-disabled-{{ theme_javascript_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set theme_javascript_index = theme_javascript_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add javascript-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-theme-javascript-url">{{ entry_js_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-theme-javascript-url" type="text" placeholder="{{ entry_js_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-theme-javascript-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
            
            <!--Javascript global-->
            <div id="tab-asset-javascript-global" class="tab-pane">
              
              <!--Javascript list-->
              <table id="table-asset-global-javascript-list" class="table table-bordered">
                <thead>
                  <tr><th>{{ entry_js_url }}</th><th class="text-center">{{ entry_status }}</th><th>{{ tab_action }}</th></tr>
                </thead>
                <tbody>
                  {% set global_javascript_index = 0 %}
                  {% for javascript in mz_code_asset_global_javascript %} 
                    <tr>
                      <td><input type="hidden" name="global[mz_code_asset_global_javascript][{{ global_javascript_index }}][url]" value="{{ javascript['url'] }}" />{{ javascript['url'] }}</td>
                      <td class="text-center"><span class="mz-switch-field">{% if (javascript['status']) %} 
                      <input type="radio" name="global[mz_code_asset_global_javascript][{{ global_javascript_index }}][status]" value="1" id="input-asset-global-javascript-status-enabled-{{ global_javascript_index }}" checked>
                      <label for="input-asset-global-javascript-status-enabled-{{ global_javascript_index }}" >{{ text_enabled }}</label>
                      <input type="radio" name="global[mz_code_asset_global_javascript][{{ global_javascript_index }}][status]" value="0" id="input-asset-global-javascript-status-disabled-{{ global_javascript_index }}">
                      <label for="input-asset-global-javascript-status-disabled-{{ global_javascript_index }}">{{ text_disabled }}</label>
                      {% else %} 
                      <input type="radio" name="global[mz_code_asset_global_javascript][{{ global_javascript_index }}][status]" value="1" id="input-asset-global-javascript-status-enabled-{{ global_javascript_index }}" >
                      <label for="input-asset-global-javascript-status-enabled-{{ global_javascript_index }}">{{ text_enabled }}</label>
                      <input type="radio" name="global[mz_code_asset_global_javascript][{{ global_javascript_index }}][status]" value="0" id="input-asset-global-javascript-status-disabled-{{ global_javascript_index }}" checked>
                      <label for="input-asset-global-javascript-status-disabled-{{ global_javascript_index }}" >{{ text_disabled }}</label>
                      {% endif %}</span></td>
                      <td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                    </tr>
                    {% set global_javascript_index = global_javascript_index + 1 %}
                  {% endfor %} 
                </tbody>
              </table>
              
              <!--Add javascript-->
              <div class="form-group">
                <label class="col-xs-2 control-label text-right" for="input-asset-global-javascript-url">{{ entry_js_url }}</label>
                <div class="col-xs-10">
                  <div class="input-group">
                    <input class="form-control" id="input-asset-global-javascript-url" type="text" placeholder="{{ entry_js_url }}" value="" />
                    <span class="input-group-btn"><button type="button" id="button-asset-global-javascript-add" class="btn btn-default btn-info">{{ text_add }}</button></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </form>
  <script>
    // custom css editor
    var input_css_skin_code_editor = ace.edit("input-css-skin-code-editor");
    var input_css_theme_code_editor = ace.edit("input-css-theme-code-editor");
    var input_css_global_code_editor = ace.edit("input-css-global-code-editor");
    
    input_css_skin_code_editor.setTheme("ace/theme/eclipse");
    input_css_theme_code_editor.setTheme("ace/theme/eclipse");
    input_css_global_code_editor.setTheme("ace/theme/eclipse");
    
    input_css_skin_code_editor.session.setMode("ace/mode/scss");
    input_css_theme_code_editor.session.setMode("ace/mode/scss");
    input_css_global_code_editor.session.setMode("ace/mode/scss");
    
    $('#form-code').submit(function(){
        $('#input-css-skin-code').val(input_css_skin_code_editor.getValue());
        $('#input-css-theme-code').val(input_css_theme_code_editor.getValue());
        $('#input-css-global-code').val(input_css_global_code_editor.getValue());
    });
    
    // custom javascript editor
    var input_javascript_skin_code_editor = ace.edit("input-javascript-skin-code-editor");
    var input_javascript_theme_code_editor = ace.edit("input-javascript-theme-code-editor");
    var input_javascript_global_code_editor = ace.edit("input-javascript-global-code-editor");
    
    input_javascript_skin_code_editor.setTheme("ace/theme/eclipse");
    input_javascript_theme_code_editor.setTheme("ace/theme/eclipse");
    input_javascript_global_code_editor.setTheme("ace/theme/eclipse");
    
    input_javascript_skin_code_editor.session.setMode("ace/mode/javascript");
    input_javascript_theme_code_editor.session.setMode("ace/mode/javascript");
    input_javascript_global_code_editor.session.setMode("ace/mode/javascript");
    
    $('#form-code').submit(function(){
        $('#input-javascript-skin-code').val(input_javascript_skin_code_editor.getValue());
        $('#input-javascript-theme-code').val(input_javascript_theme_code_editor.getValue());
        $('#input-javascript-global-code').val(input_javascript_global_code_editor.getValue());
    });
    
    
    // custom header editor
    var input_header_skin_code_editor = ace.edit("input-header-skin-code-editor");
    var input_header_theme_code_editor = ace.edit("input-header-theme-code-editor");
    var input_header_global_code_editor = ace.edit("input-header-global-code-editor");
    
    input_header_skin_code_editor.setTheme("ace/theme/eclipse");
    input_header_theme_code_editor.setTheme("ace/theme/eclipse");
    input_header_global_code_editor.setTheme("ace/theme/eclipse");
    
    input_header_skin_code_editor.session.setMode("ace/mode/html");
    input_header_theme_code_editor.session.setMode("ace/mode/html");
    input_header_global_code_editor.session.setMode("ace/mode/html");
    
    $('#form-code').submit(function(){
        $('#input-header-skin-code').val(input_header_skin_code_editor.getValue());
        $('#input-header-theme-code').val(input_header_theme_code_editor.getValue());
        $('#input-header-global-code').val(input_header_global_code_editor.getValue());
    });
    
    
    // custom footer editor
    var input_footer_skin_code_editor = ace.edit("input-footer-skin-code-editor");
    var input_footer_theme_code_editor = ace.edit("input-footer-theme-code-editor");
    var input_footer_global_code_editor = ace.edit("input-footer-global-code-editor");
    
    input_footer_skin_code_editor.setTheme("ace/theme/eclipse");
    input_footer_theme_code_editor.setTheme("ace/theme/eclipse");
    input_footer_global_code_editor.setTheme("ace/theme/eclipse");
    
    input_footer_skin_code_editor.session.setMode("ace/mode/html");
    input_footer_theme_code_editor.session.setMode("ace/mode/html");
    input_footer_global_code_editor.session.setMode("ace/mode/html");
    
    $('#form-code').submit(function(){
        $('#input-footer-skin-code').val(input_footer_skin_code_editor.getValue());
        $('#input-footer-theme-code').val(input_footer_theme_code_editor.getValue());
        $('#input-footer-global-code').val(input_footer_global_code_editor.getValue());
    });
    
  </script>
  <script>
    // stylesheet skin
    var skin_stylesheet_index = {{ skin_stylesheet_index is defined ? skin_stylesheet_index + 1 : 0 }};
    
    $('#button-asset-skin-stylesheet-add').on('click', function(){
        var url = $('#input-asset-skin-stylesheet-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="skin[code_asset_skin_stylesheet][' + skin_stylesheet_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="skin[code_asset_skin_stylesheet][' + skin_stylesheet_index + '][status]" value="1" id="input-asset-skin-stylesheet-status-enabled-' + skin_stylesheet_index + '" >';
            data += '<label for="input-asset-skin-stylesheet-status-enabled-' + skin_stylesheet_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="skin[code_asset_skin_stylesheet][' + skin_stylesheet_index + '][status]" value="0" id="input-asset-skin-stylesheet-status-disabled-' + skin_stylesheet_index + '" checked>';
            data += '<label for="input-asset-skin-stylesheet-status-disabled-' + skin_stylesheet_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-skin-stylesheet-list tbody').append(data);
            
            skin_stylesheet_index++;
        }
    });
    
    $('#table-asset-skin-stylesheet-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
    
    
    // stylesheet theme
    var theme_stylesheet_index = {{ theme_stylesheet_index is defined ? theme_stylesheet_index + 1 : 0 }};
    
    $('#button-asset-theme-stylesheet-add').on('click', function(){
        var url = $('#input-asset-theme-stylesheet-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="theme[code_asset_theme_stylesheet][' + theme_stylesheet_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="theme[code_asset_theme_stylesheet][' + theme_stylesheet_index + '][status]" value="1" id="input-asset-theme-stylesheet-status-enabled-' + theme_stylesheet_index + '" >';
            data += '<label for="input-asset-theme-stylesheet-status-enabled-' + theme_stylesheet_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="theme[code_asset_theme_stylesheet][' + theme_stylesheet_index + '][status]" value="0" id="input-asset-theme-stylesheet-status-disabled-' + theme_stylesheet_index + '" checked>';
            data += '<label for="input-asset-theme-stylesheet-status-disabled-' + theme_stylesheet_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-theme-stylesheet-list tbody').append(data);
            
            theme_stylesheet_index++;
        }
    });
    
    $('#table-asset-theme-stylesheet-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
    
    
    // stylesheet global
    var global_stylesheet_index = {{ global_stylesheet_index is defined ? global_stylesheet_index + 1 : 0 }};
    
    $('#button-asset-global-stylesheet-add').on('click', function(){
        var url = $('#input-asset-global-stylesheet-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="global[mz_code_asset_global_stylesheet][' + global_stylesheet_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="global[mz_code_asset_global_stylesheet][' + global_stylesheet_index + '][status]" value="1" id="input-asset-global-stylesheet-status-enabled-' + global_stylesheet_index + '" >';
            data += '<label for="input-asset-global-stylesheet-status-enabled-' + global_stylesheet_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="global[mz_code_asset_global_stylesheet][' + global_stylesheet_index + '][status]" value="0" id="input-asset-global-stylesheet-status-disabled-' + global_stylesheet_index + '" checked>';
            data += '<label for="input-asset-global-stylesheet-status-disabled-' + global_stylesheet_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-global-stylesheet-list tbody').append(data);
            
            global_stylesheet_index++;
        }
    });
    
    $('#table-asset-global-stylesheet-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
  </script>
  <script>
    // javascript skin
    var skin_javascript_index = {{ skin_javascript_index is defined ? skin_javascript_index + 1 : 0 }};
    
    $('#button-asset-skin-javascript-add').on('click', function(){
        var url = $('#input-asset-skin-javascript-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="skin[code_asset_skin_javascript][' + skin_javascript_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="skin[code_asset_skin_javascript][' + skin_javascript_index + '][status]" value="1" id="input-asset-skin-javascript-status-enabled-' + skin_javascript_index + '" >';
            data += '<label for="input-asset-skin-javascript-status-enabled-' + skin_javascript_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="skin[code_asset_skin_javascript][' + skin_javascript_index + '][status]" value="0" id="input-asset-skin-javascript-status-disabled-' + skin_javascript_index + '" checked>';
            data += '<label for="input-asset-skin-javascript-status-disabled-' + skin_javascript_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-skin-javascript-list tbody').append(data);
            
            skin_javascript_index++;
        }
    });
    
    $('#table-asset-skin-javascript-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
    
    
    // javascript theme
    var theme_javascript_index = {{ theme_javascript_index is defined ? theme_javascript_index + 1 : 0 }};
    
    $('#button-asset-theme-javascript-add').on('click', function(){
        var url = $('#input-asset-theme-javascript-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="theme[code_asset_theme_javascript][' + theme_javascript_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="theme[code_asset_theme_javascript][' + theme_javascript_index + '][status]" value="1" id="input-asset-theme-javascript-status-enabled-' + theme_javascript_index + '" >';
            data += '<label for="input-asset-theme-javascript-status-enabled-' + theme_javascript_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="theme[code_asset_theme_javascript][' + theme_javascript_index + '][status]" value="0" id="input-asset-theme-javascript-status-disabled-' + theme_javascript_index + '" checked>';
            data += '<label for="input-asset-theme-javascript-status-disabled-' + theme_javascript_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-theme-javascript-list tbody').append(data);
            
            theme_javascript_index++;
        }
    });
    
    $('#table-asset-theme-javascript-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
    
    
    // javascript global
    var global_javascript_index = {{ global_javascript_index is defined ? global_javascript_index + 1 : 0 }};
    
    $('#button-asset-global-javascript-add').on('click', function(){
        var url = $('#input-asset-global-javascript-url').val();
        
        if(url){
            var data = '<tr>';
            data += '<td><input type="hidden" name="global[mz_code_asset_global_javascript][' + global_javascript_index + '][url]" value="' + url + '" />' + url + '</td>';
            data += '<td class="text-center"><span class="mz-switch-field">';
            data += '<input type="radio" name="global[mz_code_asset_global_javascript][' + global_javascript_index + '][status]" value="1" id="input-asset-global-javascript-status-enabled-' + global_javascript_index + '" >';
            data += '<label for="input-asset-global-javascript-status-enabled-' + global_javascript_index + '">{{ text_enabled }}</label>';
            data += '<input type="radio" name="global[mz_code_asset_global_javascript][' + global_javascript_index + '][status]" value="0" id="input-asset-global-javascript-status-disabled-' + global_javascript_index + '" checked>';
            data += '<label for="input-asset-global-javascript-status-disabled-' + global_javascript_index + '" >{{ text_disabled }}</label>';
            data += '</span></td>';
            data += '<td><button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>';
            data += '</tr>';
            
            $('#table-asset-global-javascript-list tbody').append(data);
            
            global_javascript_index++;
        }
    });
    
    $('#table-asset-global-javascript-list').delegate('button', 'click', function(){
        $(this).parents('tr').remove();
    });
  </script>
</div>
{{ mz_footer }}